<template>
    <ProfileSideBarLayout>
      <UpdateSwitcher
      :farmName="this.farmInfo && this.farmInfo.farmDetails.farm_name"
      currentTabText="Updates"
      />
      <div v-if="!isLoading" class="single-header">
       <IndividualFarmHeader
            :farmName="farmInfo.farmDetails.farm_name"
            :county="farmInfo.farmDetails.county"
          />
      </div>
        <Spinner v-if="isLoading"/>
        <div class="main-container" v-if="!isLoading">
            <UpdateList :dataList="farmUpdates"/>
            <LoadMore
            :loadMoreButtonContent="loadMoreContent"
            :loadMore="loadMore"
            :showLoadMore="currentPage < lastPage"
            />
        </div>
    </ProfileSideBarLayout>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
import IndividualFarmHeader from '@/pages/ViewIndividualFarm/IndividualFarmHeader'
import UpdateList from '@/pages/Updates/UpdatesList.vue'
import UpdateSwitcher from '@/pages/FarmUpdates/FarmUpdateSwitcher'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
import Spinner from '@/components/ui/Spinner'
import LoadMore from '@/components/ui/LoadMoreButton'

export default {
  name: 'UpdatesIndex',
  data () {
    return {
      isLoading: true,
      currentPage: null,
      lastPage: null,
      fetchingMore: false,
      farmUpdates: []
    }
  },
  components: {
    IndividualFarmHeader,
    Spinner,
    UpdateList,
    UpdateSwitcher,
    ProfileSideBarLayout,
    LoadMore
  },
  computed: {
    ...mapGetters(['GET_FARM_UPDATES', 'GET_CURRENT_PAGE', 'GET_LAST_PAGE', 'farmInfo']),
    loadMoreContent () {
      const loadMoreButtonContent = this.fetchingMore
        ? '<i class="fas fa-spinner fa-spin"/>'
        : 'LOAD MORE'
      return loadMoreButtonContent
    }
  },
  methods: {
    ...mapActions([
      'fetchFarmUpdates',
      'SET_FARM_ID',
      'getFarmDetails'
    ]),
    loadMore () {
      if (this.currentPage < this.lastPage) {
        this.fetchingMore = true
        let nextPage = this.currentPage++
        this.fetchFarmUpdates(nextPage)
      } else if (this.currentPage === this.lastPage) {
        this.fetchFarmUpdates(this.lastPage)
      }
    }
  },
  created () {
    this.getFarmDetails({ farmId: this.$route.params.id, router: this.$router })
    this.SET_FARM_ID(this.$route.params.id)
    this.fetchFarmUpdates()
  },
  watch: {
    GET_FARM_UPDATES (newVal, oldVal) {
      this.farmUpdates = [...this.farmUpdates, ...newVal]
      this.isLoading = false
      this.fetchingMore = false
    },
    GET_CURRENT_PAGE (newVal, oldVal) {
      this.currentPage = newVal
    },
    GET_LAST_PAGE (newVal, oldVal) {
      this.lastPage = newVal
    }
  }
}
</script>
<style scoped>
 .main-container{
    max-width:650px;
 }
 .single-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-left: 0 !important;
}
.text-center{
  text-align: center;
}
</style>
