<template>
  <ProfileSideBarLayout>
    <div class="products-section">
      <ProductNavHeader
        :allCounties="counties"
        :onCountyChange="filterProduct"
        :onProductTypeChange="filterProduct"
        :selectedCounty="{ county: this.selectedCounty.replace('County', '').trim() + ' county' }"
        />
      <Spinner v-if="isLoading"/>
      <div v-if="!isLoading" class="products">
        <div v-for="product in products" :key="product.id">
          <ProductCard
            :productName="product.name"
            :description="product.description"
            :price="product.price"
            :images="product.photo"
            :county="product.county"
            :category="product.product_type"
            :id="product.id"
          />
        </div>
      </div>
      <div v-if="!isLoading && products.length <= 0" class="no-products">
        <div>
          <h3 class="text-center">No products available.</h3>
        </div>
      </div>
      <div class="pagination-actions">
        <div class="grid-row">
          <div class="align-left column column-6">
            <button
              @click="goToPreviousPage"
              v-if="showPrevious"
              type="button"
              class="button round"
            >
              <span class="arrow-left">&#x2190;</span> Previous
            </button>
          </div>
          <div class="align-right column column-6">
            <button @click="goToNextPage" v-if="showNext" type="button" class="button round">
              Next
              <span class="arrow-right">&#x2192;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ProfileSideBarLayout>
</template>

<script>
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout/'
import ProductNavHeader from './ProductNavHeader.vue'
import ProductCard from '@/components/ui/ProductCard'
import Spinner from '@/components/ui/Spinner'
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  data () {
    return {
      selectedCounty: '',
      inputType: 'all'
    }
  },
  name: 'Products',
  components: {
    ProfileSideBarLayout,
    ProductNavHeader,
    ProductCard,
    Spinner
  },
  metaInfo () {
    const inputType = this.inputType.charAt(0).toUpperCase() + this.inputType.slice(1).replace('_', ' ')
    return {
      title: `Dairynomics - ${inputType || ''} Products in ${this.selectedCounty || ''}`,
      meta: [
        { name: 'description', content: `Dairynomics ${inputType} Products in ${this.selectedCounty}` },
        { property: 'og:title', content: `Dairynomics - ${inputType} Products in ${this.selectedCounty}` },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: 'https://www.cowsoko.com/products' },
        { property: 'og:description', content: `Dairynomics ${inputType} Products in ${this.selectedCounty}` }
      ]
    }
  },
  methods: {
    ...mapActions(['fetchProducts', 'fetchCounties']),
    goToPreviousPage () {
      const { page } = this.$route.query || 1
      const previousPage = Number(page) - 1
      const county = this.selectedCounty.toLowerCase()
      const inputType = this.inputType
      this.$router.push(
        `/products?page=${previousPage}&county=${county}&type=${inputType}`
      )
    },
    goToNextPage () {
      const { page } = this.$route.query
      const nextPage = (Number(page) || 1) + 1
      const county = this.selectedCounty.toLowerCase()
      const inputType = this.inputType
      this.$router.push(
        `/products?page=${nextPage}&county=${county}&type=${inputType}`
      )
    },
    filterProduct (value) {
      if (value.county) {
        this.selectedCounty = value.county
      }

      if (value.type) {
        this.inputType = value.type
      }

      const pageNumber = this.$route.query.page || 1
      const county = this.selectedCounty.toLowerCase()
      const inputType = this.inputType
      this.$router.push(
        `/products?page=${pageNumber}&county=${county}&type=${inputType}`
      )
    }
  },
  computed: {
    ...mapState({
      products: state => state.productsModule.products || [],
      isLoading: state => state.productsModule.isLoading,
      counties: state => state.productsModule.counties
    }),
    ...mapGetters(['showPrevious', 'showNext', 'USER_PROFILE']),
    county () {
      return this.USER_PROFILE.county
    }
  },
  mounted () {
    this.fetchCounties()
    const user = this.USER_PROFILE
    const pageNumber = this.$route.query.page || 1

    if (this.$route.query.county) {
      this.selectedCounty = this.$route.query.county
    } else {
      this.selectedCounty = user.county
    }
    this.fetchProducts({ pageNumber, county: this.selectedCounty, selectedType: '' })
  },
  watch: {
    $route (to, from) {
      const { query } = to
      this.fetchProducts({ pageNumber: query.page, county: this.selectedCounty, selectedType: this.inputType })
    },

    'county' (updatedCountyFromStore) {
      const pageNumber = this.$route.query.page || 1
      this.selectedCounty = updatedCountyFromStore
      this.fetchProducts({ pageNumber, county: updatedCountyFromStore, inputType: '' })
    }
  }
}
</script>

<style lang="scss" scoped>
.products {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 1.5em;
  grid-row-gap: 2em;
  margin-bottom: 2em;
}

.products-section {
  width: 100%;
  margin-bottom: 15px;
}

.product-title {
  opacity: 0.4;
}

/deep/ div.card {
  height: 430px;
}

/deep/ .card-name {
  overflow: hidden;
  width: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// /deep/ .card .image >>> img {
//   height: 250px;
// }

/deep/ .price {
  margin-bottom: 1rem;
}

/deep/ .description {
  height: 50px;
}

/deep/ .card-details {
  margin-top: -30px;
}

/deep/ .card-details .county,
/deep/ .card-details .category {
  position: absolute;
  right: 0.5rem;
  font-size: 12px;
  white-space: nowrap;
  bottom: 3rem;
  width: 112px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/deep/ .card-details .county {
  bottom: 4rem;
}

/deep/ .card-details .category {
  bottom: 2.5rem;
}

/deep/ .view-more {
  background: #90b42e;
  color: #ffffff;
  padding: 5px 20px;
  text-decoration: none;
}

/deep/ .edit {
  display: none
}

button {
  background-color: #88af00;
  padding: 5px 10px;
  border: none;
  color: white;

  &.round {
    color: #88af00;
    padding: 5px 15px;
    border: 1px solid #88af00;
    background: white;
    border-radius: 44px;
    min-width: 120px;
    outline: none;
    appearance: none;
    transition: all 300ms ease-in-out;

    &:hover {
      background-color: #6f8c08;
      color: white;
    }
  }
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex-basis: 100%;
}

.align-right {
  text-align: right;
}

.column-6 {
  flex-basis: 50%;
}

@media only screen and (max-width: 1040px) {
  .products {
    grid-template-columns: 47% 47%;
    grid-column-gap: 2em;
  }
}
@media only screen and (max-width: 800px) {
  .products {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 600px) {
  .products {
    grid-template-columns: 100%;
  }
}
</style>
