<template>
  <div class="livestock-header mt-3 justify-content-center">
      <div class="livestock-name">
        <p class="breed">{{headerInfo.breed}}</p>
        <p class="county">{{headerInfo.county || 'Bungoma'}} county</p>
      </div>
      <div class="livestock-price text-right">
        <button class="mt-2">Available</button>
        <p class="mt-3 price">KES {{headerInfo.price}}</p>
      </div>
  </div>
</template>

<script>

export default {
  data () {
    return {}
  },
  props: ['headerInfo']
}
</script>
<style  scoped>
.livestock-header {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%
}
.breed {
  color: rgb(81, 0, 18);
  font-size: 30px;
  margin-bottom: 2px;
}
.livestock-name h5 {
  color:rgb(175, 175, 175)
}
.back-button button{
  border: 2px solid #88af00;
  color: #88af00;
  width: 97px;
  border-radius: 30px;
  margin-top: 30px
  /* padding: 5px; */
}
.livestock-price {
  justify-content: right;
  display: inline-block;
  border-radius: 1px
}

.livestock-price button {
  background-color: rgb(23, 193, 222);
  border: none;
  color: white;
  font-size: 18px;
  padding: 16px
}
.livestock-price button {
  background-color: none;
  padding: 5px
}
.price {
  color: #88af00;
  font-size: 30px;
  margin-bottom: 0%;
}
.county{
  margin-bottom: 0%;
  color: rgb(177, 177, 177);
  font-size: 21px;
}
@media (max-width: 950px) {
.livestock-header {
  grid-template-columns: 50% 50%;
  padding: 2%;
  align-items: center;
}
.breed {
  font-size: 26px
}
.price {
  font-size: 16px;
  margin-top: 0;
}
.livestock-price button {
  padding: 3px;
  font-size: 16px
}
.back-button button{
  font-size:12px;
  width: 70px;
  padding: 14%;
  padding: 5px
  /* padding: 5px; */
}
}

@media (max-width: 330px) {
.livestock-header {
  grid-template-columns: 50% 50%;
}
.breed {
  font-size: 23px
}
.price {
  font-size: 14px;
}
.back-button button{
  font-size:11px;
  width: 60px;
  padding: 5px
  /* padding: 5px; */
}
}
</style>
