<template>
  <div class="expert-card">
    <div class="image">
      <img :src="image">
    </div>
    <div class="details">
      <h5>{{firstName}} {{lastName}}</h5>
      <p class="speciality">Specialist in: {{speciality || 'Not specified'}}</p>
      <p class="county">County: {{county || 'Not specified'}}</p>
      <p class="activity-info">
        Views
        <span class="views">{{shortenNumber(views || 0)}}</span> Updates
        <span class="updates">{{shortenNumber(updates || 0)}}</span>
      </p>
      <button @click="$router.push(`/expert-profile/${id}`)">View Expert</button>
    </div>
  </div>
</template>

<script>
import shortenNumber from '@/mixins/shortenNumberMixin'
export default {
  name: 'ExpertListCard',
  mixins: [shortenNumber],

  props: [
    'firstName',
    'lastName',
    'image',
    'speciality',
    'views',
    'updates',
    'county',
    'id'
  ]
}
</script>

<style scoped>
.expert-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expert-card:hover .image {
  border-radius: 10%;
}

.image {
  border-radius: 50%;
  overflow: hidden;
  width: 30%;
  max-width: 13rem;
  min-width: 10rem;
  margin-right: 8%;
  transition: border-radius 0.5s;
}

.details {
  padding: 0.2rem 0;
}

img {
  width: 104%;
}

h5 {
  color: #88af00;
  margin: 0.3rem 0;
  font-size: 1.2rem;
}

p {
  margin: 0.2rem 0;
  font-size: 0.8rem;
}

button {
  background-color: #88af00;
  text-align: center;
  color: #fff;
  padding: 0.1rem 0.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  transition: all 0.8s ease-in;
  transition: background-color 0.8s ease-in-out;
}

button:hover {
  background-color: #6f8c08;
}

span {
  color: #fff;
  padding: 0.2rem 0.35rem;
  border-radius: 0.2rem;
}

span.views {
  background-color: #00cce9;
  margin-right: 0.5rem;
}

span.updates {
  background-color: #9900eb;
}

.activity-info {
  color: #580010;
  margin: 0.8rem 0;
  font-size: 0.8rem;
}

.county {
  color: #a5a5a5;
}

@media only screen and (max-width: 1316px) and (min-width: 544px) {
  .expert-card {
    flex-direction: column;
    text-align: center;
  }

  .image {
    margin: 0 0 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .expert-card {
    flex-direction: column;
    text-align: center;
  }

  .image {
    margin: 0 0 1rem;
  }
}
</style>
