<template>
<div class="livestock-spec ">
  <ul>
    <li class="mt-2">
      <h5>Details</h5>
    </li>
    <li class="col-md-12 col-sm-12 mt-2">
      <div class="row">
        <div class="col-md-6 col-6">
          <p>Live Weight:</p>
        </div>
        <div class="col-md-6 col-6">
          <p>{{livestock.weigth}}</p>
        </div>
      </div>
    </li>
    <li class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-6">
          <p>Field Tag Number:</p>
        </div>
        <div class="col-md-5 col-6">
          <p>{{livestock.fieldTagNum}}</p>
        </div>
      </div>
    </li>
    <li class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-6">
          <p>Body Condition:</p>
        </div>
        <div class="col-md-5 col-6">
          <p>{{livestock.bodyCondition}}</p>
        </div>
      </div>
    </li>
    <li class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-6">
          <p>Sex:</p>
        </div>
        <div class="col-md-5 col-6">
          <p>{{livestock.sex}}</p>
        </div>
      </div>
    </li>
    <li class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-6">
          <p>Description:</p>
        </div>
        <div class="col-md-5 col-6">
          <p>{{livestock.description}}</p>
        </div>
      </div>
    </li>
    <li class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-6">
          <p>Market:</p>
        </div>
        <div class="col-md-5 col-6">
          <p>{{livestock.county || 'Bungoma'}}</p>
        </div>
      </div>
    </li>
    <li class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-6">
          <p>Posted on:</p>
        </div>
        <div class="col-md-5 col-6">
          <span>{{livestock.postOn | moment("Do MMM YYYY")}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
</template>

<script>
import ImageCarousel from '@/components/ui/ImageCarousel'

export default {
  data () {
    return {
    }
  },
  components: {
    ImageCarousel
  },
  props: ['livestock']
}
</script>
<style scoped>

ul {
  color: rgb(81, 0, 18)
}
.livestock-spec ul {
  list-style: none;
  font-size: 16px;
  height: 100%;
  margin-bottom: 0%;
}
.livestock-spec ul li {
  display: inline-block;
  padding: 0%;
}
.livestock-spec ul li p {
 display: inline-block;
 padding: 0;
 bottom: 0;
 /* word-break: normal */
}
.livestock-spec h5 {
  color:rgb(175, 175, 175)
}
@media (max-width: 1100px) {
  .livestock-spec ul {
    font-size: 13px;
  }
}

@media (max-width: 950px) {
  .livestock-spec ul {
    font-size: 20px;
    padding-left: 1px;
    bottom: 0;
  }
}
@media (max-width: 450px) {
  .livestock-spec ul {
    font-size: 15px;
    padding-left: 1px;
    bottom: 0;
  }
}
@media (max-width: 380px) {
  .livestock-spec ul {
    font-size: 14px;
  }
}

</style>
