<template>
<ProfileSideBarLayout>
    <div class="switcher">
      <UpdateSwitcher
      :farmName="this.farmInfo && this.farmInfo.farmDetails.farm_name"
      currentTabText="Farm"
      />
    </div>
    <Spinner v-if="this.farmInfo.isLoading" />
    <div v-if="!this.farmInfo.isLoading" class="single-header">
          <IndividualFarmHeader
            :farmName="this.farmInfo.farmDetails.farm_name"
            :county="this.farmInfo.farmDetails.county"
          />
        </div>
    <div v-if="!this.farmInfo.isLoading" class="invidual-farm-wrapper">
      <section class="farm-wrapper-section">
        <IndividualFarmCard/>
        <div class="other-farms">
            Other Farms in your area &#x2192;
        </div>
      </section>
    </div>
</ProfileSideBarLayout>
</template>

<script>

import IndividualFarmHeader from './IndividualFarmHeader'
import IndividualFarmCard from './IndividualFarmCard'
import UpdateSwitcher from '@/pages/FarmUpdates/FarmUpdateSwitcher'
import { mapActions, mapGetters } from 'vuex'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
import Spinner from '@/components/ui/Spinner'

export default {
  components: {
    IndividualFarmHeader,
    IndividualFarmCard,
    UpdateSwitcher,
    ProfileSideBarLayout,
    Spinner
  },
  created () {
    this.getFarmDetails({ farmId: this.$route.params.id, router: this.$router })
  },

  data () {
    return {
      switcherOptionList: [
        {
          linkName: 'Farm Profile',
          optionName: 'Farm Profile'
        },
        {
          linkName: 'Farm Updates',
          optionName: 'Farm Updates',
          routeName: `/farms/${this.$route.params.id}/updates`
        },
        {
          linkName: 'Contact Farm',
          optionName: 'Contact Farm'
        }
      ]
    }
  },
  methods: {
    ...mapActions(['getFarmDetails'])
  },

  computed: {
    ...mapGetters(['farmInfo'])
  }
}

</script>

<style scoped>
.single-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-left: 0 !important;
}
.sidebar {
  padding-left: 15px;
  background-color: rgb(170, 170, 170, 0.1);
  height: 100vh;
}
.other-farms{
  color: #90b42e;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-align:center;
  margin-top: 4rem;
}
@media only screen and (max-width: 1100px){
  .farm-wrapper-section{
    /* max-width: 90%; */
    margin: auto;
  }
}

@media screen and (max-width: 734px){
  .farm-wrapper-section{
    width: 100%;
    max-width: 100%;
  }

  .farm-wrapper-section >>> .card, .farm-wrapper-section >>> .card-text{
    padding: 10px !important;
  }
  .farm-wrapper-section >>> .mt-4{
    margin-top: 10px !important;
  }
  .farm-wrapper-section >>> .card-text p{
    margin: 0px !important;
  }
  .single-header{
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 420px){
  .button{
    padding: 5px 10px;
  }
  .other-farms{
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

</style>
