<template>
  <div>
    <ProfileSideBarLayout>
      <Spinner v-if='isLoading'/>
      <div class='main-container' v-if='!isLoading'>
        <div class='card mt-3'>
          <div class='card-body mb-0 pb-0'>
            <div class='media mt-1 mb-4 ml-1'>
              <img
                class='rounded-circle mr-3 ml-3'
                :src='(userUpdate.updated_by && userUpdate.updated_by.profile.pic)||(userUpdate.user && userUpdate.user.profile.pic)'
                style='width:50px; height:50px;'
              >
              <div class='media-body'>
                <h5
                  class='mt-0 mb-0 expert-name'
                >{{updateCreator.first_name}} {{updateCreator.last_name}}</h5>
                <div class='row'>
                  <div
                    class='col col-md-4 col-sm-12 county-text small'
                  >{{updateCreator.county}} County</div>
                  <div class='col col-md-8 col-sm-12'>
                    <p class='small stats'>
                      <span class='views'>
                        Views
                        <button
                          class='views-info'
                        >{{shortenNumber(updateCreator.view_counts || 0)}}</button>
                      </span>
                      <span class='updates'>
                        Updates
                        <button
                          class='badge-purple'
                        >{{shortenNumber(updateCreator.number_of_updates || 0)}}</button>
                      </span>
                      <a
                        :href='`/expert-profile/${updateCreator.id}`'
                        class='expert-button'
                      >View Expert</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class='col col-md-8 col-sm-12 mobile'>
              <p class='small stats'>
                <span class='views'>
                  Views
                  <button
                    class='views-info'
                  >{{shortenNumber(updateCreator.view_counts || 0)}}</button>
                </span>
                <span class='updates'>
                  Updates
                  <button
                    class='badge-purple'
                  >{{shortenNumber(updateCreator.number_of_updates || 0)}}</button>
                </span>
                <a
                  :href='`/expert-profile/${updateCreator.id}`'
                  class='expert-button'
                >View Expert</a>
              </p>
            </div>
            <div class="single-update-image">
            <img v-if='update.photo != defaultURL && update.photo.length===1 ' class='img-fluid' :src='update.photo'>
            <ImageCarousel v-if='update.photo.length > 1' :productImages='update.photo'/>
            </div>
            <p class='update-text'>{{update.text}}</p>
          </div>
        </div>
        <div class='card icon-card'>
          <div class='icon-section card-body'>
            <span class='mr-4 pl-3' @click='handleLikingUpdate'>
              <i
                :class="inLikes(update.user_likes) ? 'colored-icon' : 'gray-icon'"
                class='far fa-thumbs-up'
              ></i>
              {{update.likes}}
            </span>
            <span class='mr-4'>
              <i class='far fa-comment colored-icon'></i>
              {{update.number_of_comments}}
            </span>
            <SocialShare
              :fbTwittertext='update.text'
              :itemUrl='currentUrl'
              :whatsappText='whatsAppShareText'
            />
          </div>
        </div>
        <!-- comments -->
        <CommentsBlock
          :comments='getComments'
          v-on:submitReply='makeReply'
          v-on:submitComment='makeComment'
          v-on:deleteComment='deleteComment'
          v-on:likeComment='likeComment'
          v-on:editComment='editComment'
          v-on:loadPage='fetchComments'
          :userId='userId'
          :loadingMore='getCommentsLoading'
          :meta='getCommentsMeta'
        />
        <div class='bottom-nav'>
          <span class='pt-3'>
            <button
              :disabled='previousDisabled'
              @click='handleShowPrevious(update)'
              id='back-button'
            >
              <i class='fas fa-long-arrow-alt-left small'></i> Go Back
            </button>
          </span>
          <span class='pt-3'>
            <button
              :disabled='nextButtonDisabled'
              @click='handleShowNext(update)'
              class='btn btn-lg next-button'
            >
              Next Update
              <i class='fa fa-long-arrow-alt-right small'></i>
            </button>
          </span>
        </div>
      </div>
    </ProfileSideBarLayout>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
import Switcher from '@/components/ui/Switcher.vue'
import AppBlog from '@/components/ui/AppBlog.vue'
import Spinner from '@/components/ui/Spinner'
import ImageCarousel from '@/components/ui/ImageCarousel'
import SocialShare from '@/components/ui/SocialShare'
import CommentsBlock from '@/components/ui/CommentsBlock/CommentsBlock'
import shortenNumberMixin from '@/mixins/shortenNumberMixin'

const token = localStorage.getItem('token')

const DEFAULT_URL = 'https://beta.cowsoko.com/storage/img/'
export default {
  name: 'SingleExpertUpdate',
  metaInfo () {
    const userDetails = this.updateCreator
    const fullName = userDetails ? `${this.updateCreator.first_name} ${this.updateCreator.last_name}` : ''
    return {
      title: `Dairynomics - ${fullName} Update`,
      meta: [
        {
          name: 'description',
          content: `Dairynomics - Update by ${this.updateCreator.first_name} ${this.updateCreator.last_name}`
        },
        {
          property: 'og:title',
          content: `Dairynomics - Update by ${this.updateCreator.first_name} ${this.updateCreator.last_name}`
        },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: `https://www.cowsoko.com/updates/${this.$route.params.id}` },
        { property: 'og:image', content: `${this.update && this.update.photo[0]}` }
      ]
    }
  },
  mixins: [shortenNumberMixin],
  data () {
    return {
      activeLink: 'myUpdates',
      switcherOptionList: [
        {
          optionName: 'My Updates',
          linkName: 'myUpdates'
        },
        {
          optionName: 'Profile',
          linkName: 'myProfile'
        },
        {
          optionName: 'Reports',
          linkName: 'myReports'
        }
      ],
      defaultURL: DEFAULT_URL,
      commentText: '',
      token,
      commentBody: null,
      replyBody: null,
      id: this.$route.params.id,
      userId: localStorage.getItem('userId'),
      isReplying: false,
      singleUpdateComments: null,
      isCommentEditing: false,
      isReplyEditing: false,
      replyUpdateBody: null,
      userUpdate: null,
      currentUrl: window.location.href,
      shareText: `${this.userUpdate} ${this.currentUrl}`,
      userUpdateCreatorId: null,
      isLoading: true,
      commentingError: null,
      userUpdateLikes: null,
      replyError: null,
      isCommenting: false,
      isButtonDisabled: false,
      nextButtonDisabled: false,
      previousDisabled: false,
      nextUpdatePosition: 0
    }
  },
  components: {
    Switcher,
    AppBlog,
    ProfileSideBarLayout,
    Spinner,
    ImageCarousel,
    SocialShare,
    CommentsBlock
  },
  methods: {
    changeActiveLinkStatus (status) {
      this.activeLink = status
    },
    ...mapActions([
      'GET_EXPERT_UPDATES',
      'GET_TOPICS',
      'likeAnUpdate',
      'commentOnUpdate',
      'fetchUpdate',
      'fetchComments',
      'likeAnUpdate',
      'replytoComment',
      'setSelectedUpdate',
      'setCommentId',
      'likeUpdateComment',
      'unlikeAnUpdate',
      'unlikeUpdateComment',
      'setUserId',
      'setReplyId',
      'editUpdateComment',
      'editReplyToComment',
      'deleteAComment',
      'deleteReply',
      'likeUpdateReply',
      'unlikeUpdateReply',
      'fetchUpdateCreatorProfile',
      'setUpdateCreatorId',
      'GET_UPDATES'
    ]),
    ...mapMutations(['POPULATE_UPDATE_DATA']),
    cancelCommenting () {
      this.isCommenting = false
      this.commentBody = null
      return this.commentBody
    },
    cancelCommentEditing () {
      this.isCommentEditing = false
      return this.isCommentEditing
    },
    cancelReplyEditing () {
      this.isReplyEditing = false
      return this.isReplyEditing
    },
    makeCommentEdit (commentText) {
      this.isCommentEditing = false
      let data = {
        user_id: this.userId,
        comment: commentText || this.commentText
      }
      this.editUpdateComment(data)
    },
    handleLikingUpdate () {
      let userDetails = {
        user_id: this.userId
      }
      this.setUserId(this.userId)
      let isLiked = this.inLikes(this.userUpdate.user_likes)
      if (isLiked) {
        this.unlikeAnUpdate(userDetails)
      } else {
        this.likeAnUpdate(userDetails)
      }
    },
    likeComment (comment, isReply) {
      if (isReply) {
        this.handleLikingReply(comment)
        return
      }
      this.handleLikingComment(comment)
    },
    handleLikingComment (comment) {
      this.setCommentId(comment.id)
      let userDetails = {
        user_id: this.userId
      }
      let userInLikes = this.inLikes(comment.user_likes)
      this.setUserId(this.userId)
      let hasLikes = comment.likes > 0
      if (!hasLikes) {
        this.likeUpdateComment(userDetails)
      } else if (hasLikes && userInLikes) {
        this.unlikeUpdateComment(userDetails)
      } else {
        this.likeUpdateComment(userDetails)
      }
    },
    handleLikingReply (reply) {
      this.setReplyId(reply.id)
      let userDetails = {
        user_id: this.userId
      }
      let userInLikes = this.inLikes(reply.user_likes)
      let hasLikes = reply.likes > 0
      if (!hasLikes) {
        this.likeUpdateReply(userDetails)
      } else if (hasLikes && userInLikes) {
        this.unlikeUpdateReply(userDetails)
      } else {
        this.likeUpdateReply(userDetails)
      }
    },
    inLikes (itemList) {
      return itemList.includes(this.userId)
    },
    editComment (id, body, isReply) {
      if (isReply) {
        this.setReplyId(id)
        this.makeReplyEdit(body)
        return
      }
      this.handleEditingComment(id)
      this.makeCommentEdit(body)
    },
    handleEditingComment (id) {
      this.setCommentId(id)
      this.commentText = this.commentUpdateBody
      if (this.getSelectedComment === id) {
        this.isReplying = false
        this.isCommentEditing = true
      }
    },
    handleEditingReply (reply) {
      this.setReplyId(reply.id)
      this.replyUpdateBody = reply.reply
      if (this.selectedReply === reply.id) {
        this.isReplying = false
        this.isReplyEditing = true
      }
    },
    makeReplyEdit (body) {
      this.isReplyEditing = false
      let data = {
        user_id: this.userId,
        comment: body || this.replyUpdateBody
      }
      this.editReplyToComment(data)
    },
    makeComment (e, commentBody) {
      let commentData = {
        user_id: this.userId,
        comment: this.commentBody || commentBody
      }
      if (!this.commentBody && !commentBody) {
        this.commentingError = 'You must provide a comment to proceed'
        this.isCommenting = true
      } else if (this.commentBody !== '' || commentBody !== '') {
        this.commentingError = ''
        this.commentOnUpdate(commentData, this.token)
        this.commentBody = ''
        this.commentBody = null
        this.isCommenting = false
      }
    },
    handleReply (id) {
      this.setCommentId(id)
      this.cancelReplyEditing()
      if (this.getSelectedComment === id) {
        this.isReplyEditing = false
        this.isCommentEditing = false
        this.isReplying = true
      }
    },
    cancelReply () {
      this.replyError = ''
      this.replyBody = null
      this.isReplying = false
    },
    makeReply (commentId, replyBody) {
      let replyData = {
        comment: replyBody || this.replyBody,
        user_id: this.userId
      }
      this.setCommentId(commentId)
      if (replyBody || this.replyBody) {
        this.replytoComment(replyData)
        this.replyBody = ''
        this.isReplying = false
      } else {
        this.replyError = 'Please provide a reply to proceed'
      }
    },
    checkIfOwner (userId, item) {
      return userId === item.created_by.id
    },
    deleteComment (comment, reply) {
      if (reply) {
        this.handleDeletingReply(comment, reply)
      } else {
        this.handleDeletingComment(comment)
      }
    },
    handleDeletingComment (comment) {
      this.setCommentId(comment.id)
      let userDetails = {
        user_id: this.userId
      }
      this.deleteAComment(userDetails)
    },
    handleDeletingReply (comment, reply) {
      this.setReplyId(reply.id)
      this.setCommentId(comment.id)
      let userDetails = {
        user_id: this.userId
      }
      this.deleteReply(userDetails)
    },
    handleShowNext (update) {
      let currentUpdate = this.updateList.findIndex(
        item => item.id === update.id
      )
      let nextUpdatePosition = null
      if (currentUpdate !== this.updateList.length - 1) {
        nextUpdatePosition = currentUpdate + 1
        let nextUpdateId = this.updateList[nextUpdatePosition].id
        return this.$router.push(`/updates/${nextUpdateId}`)
      } else {
        this.nextUpdatePosition = null
      }
    },
    handleShowPrevious (update) {
      let currentUpdatePosition = this.updateList.findIndex(
        item => item.id === update.id
      )
      let previousUpdatePosition = null
      if (currentUpdatePosition !== 0) {
        previousUpdatePosition = currentUpdatePosition - 1
        this.nextUpdatePosition = previousUpdatePosition
        let currentUpdate = this.updateList[previousUpdatePosition].id
        return this.$router.push(`/updates/${currentUpdate}`)
      }
    }
  },
  computed: {
    ...mapGetters([
      'getUpdate',
      'getComments',
      'getSelectedComment',
      'getSelectedReply',
      'getExpertProfileInformation',
      'getUpdateCreator',
      'UPDATES',
      'getCommentsMeta',
      'getCommentsLoading'
    ]),
    hasComments () {
      return this.getUpdate.number_of_comments > 0
    },
    comments () {
      return this.getComments
    },
    update () {
      return this.userUpdate
    },
    selectedComment () {
      return this.getSelectedComment
    },
    selectedReply () {
      return this.getSelectedReply
    },
    commentUpdateBody () {
      return this.comments.filter(
        comment => comment.id === this.selectedComment
      )[0].comment
    },
    whatsAppShareText () {
      let text = `${this.update.text} ${this.currentUrl}`
      return encodeURI(text)
    },
    updateCreator () {
      return this.getUpdateCreator
    },
    updateList () {
      return this.UPDATES
    }
  },
  created () {
    this.fetchUpdate(this.$route.params.id)

    this.setSelectedUpdate(this.$route.params.id)

    this.fetchComments()

    this.GET_UPDATES()
  },
  watch: {
    getUpdate (newVal, oldVal) {
      const userId =
        (newVal.updated_by && newVal.updated_by.id) ||
        (newVal.user && newVal.user.id)
      this.userUpdate = newVal
      this.userUpdateCreatorId = Number(userId)
      this.setUpdateCreatorId(userId)
      this.fetchUpdateCreatorProfile()
      this.isLoading = false
      if (
        this.updateList[this.updateList.length - 1].id === this.$route.params.id
      ) {
        this.nextButtonDisabled = true
      } else {
        this.nextButtonDisabled = false
      }
      if (
        this.updateList.findIndex(item => item.id === this.$route.params.id) ===
        0
      ) {
        this.previousDisabled = true
      } else {
        this.previousDisabled = false
      }
    },
    getComments (newVal, oldVal) {
      this.singleUpdateComments = newVal
    },
    '$route.params.id': function (id) {
      this.setSelectedUpdate(id)
      this.fetchUpdate(id)
      this.fetchComments()
    }
  }
}
</script>

<style scoped>
.main-container {
  max-width: 650px;
}
#back-button,
#back-button:active {
  color: black;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
#back-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.small-text {
  font-size: 0.7em;
}
.colored-icon {
  color: #94b93a;
  cursor: pointer;
}
.gray-button {
  color: #8c8c8c;
  cursor: pointer;
}
.expert-button {
  background: #90b42e;
  margin-left:5px;
  color: #fff;
  height: 25px;
  padding: 5px;
  text-decoration: none;
  border: none;
}
.views-info {
  background: #00bfff;
  color: #fff;
  height: 25px;
  border: none;
  border-radius: 4px;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.next-button {
  font-size: small;
  color: #fff;
  background: rgba(82, 79, 79, 0.904);
  height: 38px;
  vertical-align: middle;
  padding-top: 9px;
  width: 15vw;
}
.next-button:active {
  outline: none;
  border: none;
}
.updates {
  margin-left: 15px;
  color: rgb(44, 11, 17);
}
.views {
  color: rgb(44, 11, 17);
}
.badge {
  border-radius: 0%;
  padding: 4px;
}
.badge-purple {
  background: #7148be;
  color: #fff;
  border-radius: 3px;
  margin-right: 18px;
  height: 25px;
  border: none;
}
.icon-text {
  cursor: pointer;
  font-size: 0.7rem;
}
.expert-name {
  color: #94b93a;
}
.county-text {
  color: #bebdbd;
}
.post-button,
.post-button:active {
  background: #90b42e;
  color: #fff;
  font-size: 0.7rem;
  height: 28px;
  width: 12vw;
  border-radius: 9px;
  border: none;
  margin-top: 1px;
  outline: none;
  vertical-align: middle;
}
.commenter {
  color: rgb(34, 9, 13);
  font-weight: normal;
  font-size: 0.9rem;
  opacity: 0.8;
}
.update-text {
  color: rgb(93, 22, 35);
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 17px;
  margin-bottom: 17px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.comment-text {
  color: rgb(44, 11, 17);
  font-weight: lighter;
  font-size: small;
  opacity: 0.7;
}
.user-icon {
  color: #89aa35;
}
.single-update-image{
margin-left: 20px;
margin-right:20px;
}
#share-label {
  color: black;
  font-family: "Comfortaa-light";
  font-size: 12px;
}
.comment-section {
  background-color: #f4f7ea;
}

.comment-reply {
  border: none;
  border-radius: 5px;
  margin-left: 2%;
  resize: none;
  padding-left: 25px;
  padding-top: 10px;
  box-shadow: 3px 3px 22px 3px rgba(162, 203, 25, 0.12);
  outline: none;
  width: 38vw;
}
.comment-reply:focus {
  color: #463b39;
  opacity: 0.6;
}
.secondary-textbox {
  border: none;
  border-radius: 5px;
  margin-left: 2%;
  resize: none;
  padding-left: 25px;
  padding-top: 10px;
  box-shadow: 3px 3px 22px 3px rgba(162, 203, 25, 0.12);
  outline: none;
  height: 6vh;
  font-size: 0.8rem;
  width: 35vw;
}
.action-buttons {
  float: right;
  margin-top: 12px;
  margin-right: 2px;
}
.cancel-button {
  outline: none;
  border: none;
  background: none;
  color: #8c8c8ccc;
  font-size: 0.8rem;
}
.card {
  border: none;
  background: #fff;
  box-shadow: 3px 3px 22px 3px rgba(162, 203, 25, 0.12);
}
.card-body {
  border-color: #fff;
}
.icon-card {
  border-radius: 0 0 0 0;
  padding: 2px;
  height: 50px;
  margin-top: 4px;
}
.icon-section {
  padding: 0px;
  padding-top: 12px;
  vertical-align: center;
  background: #fff;
}
.col.col-md-8.col-sm-12 {
  display: block;
}
.col.col-md-8.col-sm-12.mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .post-button {
    width: 20vw;
    padding: 0px;
    font-size: small;
    height: 34px;
  }
  .commenter {
    font-size: 0.2rem;
  }
  .comment-text {
    font-size: medium;
  }
  .fa-2x {
    font-size: medium;
  }
  .fa-3x {
    font-size: large;
  }
  .icon-text {
    font-size: medium;
  }
  .comment-reply {
    height: 8vh;
    font-size: medium;
    width: 74vw;
  }
  .secondary-textbox {
    height: 6vh;
    font-size: 0.8rem;
    width: 40vw;
  }
  .action-buttons {
    margin-right: 64px;
    font-size: medium;
  }
  #back-button {
    font-size: large;
  }
  .next-button {
    font-size: small;
    color: #fff;
    background: rgba(82, 79, 79, 0.904);
    height: 38px;
    vertical-align: middle;
    padding-top: 5px;
    width: 23vw;
  }
  .update-text {
    font-size: medium;
    text-align: justify;
    margin-top: 12px;
  }
  .icon-section {
    font-size: medium;
  }
  .col.col-md-4.col-sm-12.county-text.small {
    flex-basis: unset;
    padding: 0px;
  }
  .col.col-md-8.col-sm-12 {
    display: none;
  }
  .col.col-md-8.col-sm-12.mobile {
    display: block;
  }
  .col.col-md-8.col-sm-12.mobile .views,
  .col.col-md-8.col-sm-12.mobile .updates,
  .expert-button {
    width: auto !important;
  }
  .views,
  .updates {
    margin: 0px 5px 0px 0px !important;
    padding: 0px !important;
    font-size: 1em;
  }
  .views-info,
  .badge-purple {
    margin-left: 5px !important;
    margin-right: 0px !important;
    padding: 3px 3px 1px;
    font-size: 0.8em;
  }
  .expert-button {
    margin-left: 10px !important;
  }
  .media-body {
    margin-left: 10px;
  }
  .expert-name {
    margin-bottom: 5px !important;
  }
}
@media only screen and (max-width: 640px) {
  .main-container {
    width: 100vw;
  }
  .post-button {
    width: 16vw;
    padding: 0px;
    font-size: 0.4rem;
    height: 18px;
    margin-right: 0px;
  }
  .commenter {
    font-size: 0.6rem;
  }
  .comment-text {
    font-size: 0.5rem;
  }
  .fa-2x {
    font-size: small;
  }
  .fa-3x {
    font-size: medium;
  }
  .icon-text {
    font-size: 0.4rem;
  }
  .comment-reply {
    height: 6vh;
    font-size: 0.6rem;
    width: -2vw;
  }
  ::placeholder {
    vertical-align: middle;
  }
  .action-buttons {
    margin-right: 12px;
  }
  #back-button {
    font-size: small;
  }
  .next-button {
    font-size: small;
    color: #fff;
    background: rgba(82, 79, 79, 0.904);
    height: 24px;
    vertical-align: middle;
    text-align: center;
    padding-top: 3px;
    margin-right: 12px;
    width: 33vw;
  }
  .next-button:active {
    outline: none;
    border: none;
  }
  .update-text {
    font-size: small;
    text-align: justify;
    margin-top: 12px;
  }
  .icon-section {
    font-size: small;
  }
  .mt-3 {
    margin-top: 2px;
  }
  .county-text {
    font-size: small;
  }
  .views {
    display: block;
    width: 12vw;
    margin-right: 24px;
  }
  .updates {
    display: block;
    margin-right: 93px;
    margin-top: 5px;
    margin-left: 0px;
    width: 45vw;
    padding-bottom: 12px;
  }
  .expert-button {
    margin-left: 0px;
    display: block;
    margin-top: 5px;
    width: 34vw;
    text-align: center;
  }
  .views-info {
    height: 25px;
    width: 34vw;
  }
  .badge-purple {
    width: 16vw;
    margin-left: 6px;
  }
}
@media screen and (max-width: 1024px) {
  .expert-button[data-v-ab3d284e] {
    background: #90b42e;
    color: #fff;
    margin-left: 24px;
    height: 25px;
    padding: 5px;
    text-decoration: none;
    border: none;
  }
  .commenter {
    font-size: medium;
  }
  .comment-reply {
    width: 70vw;
  }
  .secondary-textbox {
    width: 43vw;
    height: 5vh;
    padding: 9px;
    vertical-align: middle;
  }
  .next-button {
    width: 20vw;
    vertical-align: middle;
  }
  .post-button {
    width: 17vw;
  }
  .action-buttons {
    margin-right: 10px;
  }
  .main-container {
    width: 80vw;
    margin-top: 23px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .post-button {
    width: 17vw;
    padding: 0px;
    font-size: 0.4rem;
    height: 18px;
  }
  .expert-button {
    margin-left: 32px;
  }
  .commenter {
    font-size: 0.7rem;
  }
  .comment-text {
    font-size: 0.6rem;
  }
  .fa-2x {
    font-size: small;
  }
  .fa-3x {
    font-size: medium;
  }
  .icon-text {
    font-size: 0.5rem;
  }
  .comment-reply {
    height: 6vh;
    font-size: 0.6rem;
    width: 65vw;
  }
  .secondary-textbox {
    height: 6vh;
    font-size: 0.6rem;
    width: 55vw;
  }
  ::placeholder {
    vertical-align: middle;
  }
  .action-buttons {
    margin-right: 2px;
  }
  #back-button {
    font-size: small;
  }
  .next-button {
    font-size: small;
    color: #fff;
    background: rgba(82, 79, 79, 0.904);
    height: 24px;
    vertical-align: middle;
    padding-top: 3px;
    margin-right: 0px;
    width: 34vw;
  }
  .update-text {
    font-size: small;
    text-align: justify;
    margin-top: 12px;
  }
  .icon-section {
    font-size: small;
  }
  .mt-3 {
    margin-top: 2px;
  }
  .county-text {
    font-size: small;
  }
  .mb-3 {
    margin-bottom: 1px;
  }
}
.bottom-nav {
  background-color: #f4f7ea;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (max-width: 3024px) {
  .secondary-textbox {
    height: 6vh;
    font-size: 0.8rem;
    width: 33vw;
  }
  .card-body {
    margin-top: 5px;
  }
}
@media screen and (max-width: 1024px) {
  .expert-button {
    margin: 0px 0px 0px 10px !important;
  }
  .col.col-md-8.col-sm-12 {
    padding: 0px !important;
  }
}
@media screen and (max-width: 425px) {
  .small.stats {
    overflow: auto;
  }
  .views,
  .updates {
    width: 100% !important;
    margin: 0px;
    float: left;
    margin: 0px 0px 10px 0px;
    overflow: auto;
  }
  .views-info,
  .badge-purple {
    width: auto !important;
    float: right;
  }
  .expert-button {
    float: left;
    margin: 0px !important;
  }
  .col.col-md-8.col-sm-12 {
    padding: 0px;
  }
  .rounded-circle {
    margin: 0px 10px 0px 0px !important;
  }
  .row {
    margin: 0px;
  }
  .main-container {
    margin: 0px;
    width: 100%;
  }
  .card-body {
    padding: 10px;
  }
}
@media screen and (max-width:375px){
.views{
  margin-left: 20px !important;
}
.rounded-circle{
  margin: 0px 10px 0px 20px !important;
}
.expert-button{
  margin-left:20px !important;
}
}
@media screen and (max-width: 414px) {
.views{
  margin-left: 20px !important;
}
.rounded-circle{
  margin: 0px 10px 0px 20px !important;
}
.expert-button{
  margin-left:20px !important;
}
}
@media screen and (max-width:768px) {
  .views{
    margin-left: 20px !important;
  }
}
@media screen and (max-width:360px) {
  .expert-button{
    margin-left:5px !important;
  }
}
@media screen and (max-width:320px) {
  .expert-button{
    width: 55px !important;
    margin-left:0px !important;
  }
}
</style>
