<template>
  <ProfileSideBarLayout>
    <div class="main-content">
      <div class="content-holder">
        <ProfileTestList
        :tests="tests"
        :results="sortedResults"
        v-if="!loading"
        />
        <Spinner v-if="loading"/>
      </div>
    </div>
  </ProfileSideBarLayout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ProfileTestList from './ProfileTestList.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'Tests',
  components: {
    ProfileTestList,
    ProfileSideBarLayout,
    Spinner
  },
  metaInfo () {
    return {
      title: 'Dairynomics - Profile Tests',
      meta: [
        { name: 'description', content: 'Dairynomics Profile Tests' },
        { property: 'og:title', content: 'Dairynomics Profile Tests' },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: 'https://www.cowsoko.com/tests' },
        { property: 'og:description', content: 'Dairynomics Profile Tests' }
      ]
    }
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    ...mapGetters({
      tests: 'ALL_USER_TESTS',
      sortedResults: 'SORTED_TEST_RESULTS',
      userProfile: 'USER_PROFILE',
      userResults: 'ALL_USER_RESULTS'
    })
  },
  methods: {
    ...mapActions({
      getUser: 'GET_USER_PROFILE',
      getResults: 'GET_USER_TEST_RESULTS'
    })
  },
  async mounted () {
    this.loading = this.userResults.length === 0
    await this.getUser()
    await this.getResults(this.userProfile.id)
    this.loading = false
  }
}
</script>

<style scoped lang="scss">
header {
  .page-title {
    font-size: 25px;
  }
}

// tablet portrait
@media only screen and (min-width: 40em) {
  header {
    margin-bottom: 40px;
  }
  .main-content {
    padding-top: 20px;
  }
}
</style>
