<template>
<div class="test-item">
  <img class="test-item-img" v-if="!result" :src="image" alt="test" />
  <PerformanceMeter
    v-if="result"
    :performance="result"
    :strokeWidth="2"
    :fontSize="'12px'"
    :size="110"
    :imageName="imageName"
    :unit="'%'"
  />
  <div class="test-item-info">
    <h5 class="test-item-info-title">{{ title }} </h5>
    <AppButton v-if="result" @click="$router.push({ name: testComponent })">
      Retake Test
    </AppButton>
    <AppButton v-else @click="$router.push({ name: testComponent })">
      Take Test
    </AppButton>
  </div>
  </div>
</template>

<script>
import AppButton from '@/components/ui/AppButton'
import notTakenImg from '@/assets/image-1.png'
import PerformanceMeter from '@/components/ui/PerformanceMeter'
export default {
  props: {
    testComponent: String,
    title: String,
    result: String,
    image: String,
    imageName: String
  },
  data () {
    return {
      notTakenImg
    }
  },
  components: { AppButton, PerformanceMeter }
}
</script>

<style lang="scss" scoped>
.test-item {
  display: flex;
  width: 380px;
  height: 100px;
  margin-bottom: 60px;
  &-img,
  &-taken-img-wrapper,
  .meter-container {
    width: 35%;
  }

  .meter-container {
    svg {
      top: -10px;
    }
    img {
      height: 120px;
    }
  }

  &-info {
    width: 58%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h5 {
      font-size: 15px;
      color: #7a3241;
      font-weight: 900;
      height: 70%;
      display: flex;
      align-items: center;
    }
    button {
      width: 90px;
      padding: 6px;
      border-radius: 0;
      font-size: 12px;
      height: 30%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .test-item {
    width: 100%;
  }

  .test-item-img {
    height: 80px;
  }
}
</style>
