<template>
  <div class="sp-page-container">
    <div class="sp-update-container">
      <div class="sp-text-area-container">
        <TextArea
          className="sp-text-area"
          placeholder=" Post an Update ..."
          v-model="message"
          :error="errors.message"
          :isHidden="!errors.message"
        />
        <div class="sp-update-btn-container">
          <div class="sp-image-selector">
            <ImageSelector id="sp-image-selector" @load="handleImagesUpload"/>
          </div>
          <div class="sp-select-field-container">
            <v-select
              class="sp-select"
              id="sp-select"
              placeholder="Choose a topic"
              :options="options"
              label="topic"
              :value="$store.myValue"
              @input="handleSelectFieldChange"
            ></v-select>
            <ErrorMessage
              v-if="errors.topic"
              :errorMessage="errors.topic"
              id="select-field-error-message"
            />
          </div>
          <div class="post-update-btn-container">
            <SpinnerButton
              id="sp-update-btn"
              :spinnerCondition="isPosting"
              @click="handleSubmit"
            >Post Update</SpinnerButton>
          </div>
        </div>
        <ErrorMessage
          v-if="updateError"
          :errorMessage="updateError"
          id="select-field-error-message"
        />
      </div>
      <div class="img-preview-container">
        <ImagePreview
          v-if="imagesUploaded.length"
          :images="imagesUploaded"
          id="sp-update-image-preview"
        />
      </div>
      <div class="empty-message" v-if="!blogs.length && !isLoading">
        <h3>Sorry there are no updates available</h3>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import ImagePreview from '@/components/ui/ImagePreview'
import ServiceProviderUpdateValidator from '@/utils/validators/serviceProviderUpdateValidator'
import TextArea from '@/components/ui/TextArea.vue'
import SpinnerButton from '@/components/ui/SpinnerButton.vue'
import ImageSelector from '@/components/ui/ImageSelector.vue'
import vSelect from 'vue-select'
import ErrorMessage from '@/components/ui/ErrorMessage'
import { previewImage } from '@/utils/helperFunctions'

export default {
  name: 'ServiceProviderUpdate',
  components: {
    TextArea,
    SpinnerButton,
    ImageSelector,
    ErrorMessage,
    'v-select': vSelect,
    ImagePreview
  },
  data () {
    return {
      defaultText: '',
      errors: {
        message: '',
        topic: ''
      },
      message: '',
      imagesUploaded: [],
      selectFieldValue: null
    }
  },
  props: {
    options: {
      type: Array,
      required: true
    },
    expertId: {
      type: Number
    },
    blogs: {
      type: Array
    }
  },
  methods: {
    ...mapActions(['POST_EXPERT_UPDATE']),
    handleSubmit () {
      const messageValidator = ServiceProviderUpdateValidator.emptyFieldValidator(
        this.errors,
        'message',
        this.message,
        'Body field is required'
      )
      const topicSelectValidator = ServiceProviderUpdateValidator.emptyFieldValidator(
        this.errors,
        'topic',
        this.selectFieldValue,
        'Topic is required'
      )
      const data = new FormData()
      data.append('body', this.message)
      data.append('topic', this.selectFieldValue)
      this.imagesUploaded.length > 0 &&
        this.imagesUploaded.map((imageObject, index) => {
          data.append('photo' + '[' + index + ']', imageObject.file)
        })
      data.append('user_id', this.expertId)

      if (messageValidator && topicSelectValidator) {
        const payload = {
          data
        }

        this.POST_EXPERT_UPDATE(payload)
        this.message = null
        this.imagesUploaded = []
      }
    },
    handleImagesUpload (fileList) {
      Array.from(fileList).forEach(async file => {
        const imgPreviewUrl = await previewImage(file)
        this.imagesUploaded.push({ file, imgPreviewUrl })
      })
    },
    handleSelectFieldChange (value) {
      if (value === null) {
        this.selectFieldValue = ''
      } else {
        this.selectFieldValue = value && value.id
      }
    }
  },
  watch: {
    message: function () {
      if (this.message === '') {
        ServiceProviderUpdateValidator.emptyFieldValidator(
          this.errors,
          'message',
          this.message,
          'Body field is required'
        )
      } else {
        ServiceProviderUpdateValidator.emptyFieldValidator(
          this.errors,
          'message',
          this.message,
          ''
        )
      }
    },
    selectFieldValue: function () {
      ServiceProviderUpdateValidator.emptyFieldValidator(
        this.errors,
        'topic',
        this.selectFieldValue,
        'Topic is required'
      )
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.expert.isLoading,
      isPosting: state => state.expert.isPosting,
      updateError: state => state.expert.updateError
    })
  }
}
</script>

<style>
.sp-preview-wrapper {
  margin-top: 5%;
  margin-left: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;
  height: 200px;
}
.sp-preview-wrapper .preview-details {
  display: inline-block;
  width: 33.3%;
  position: relative;
  margin-bottom: 2%;
}
.sp-preview-details .clear {
  position: absolute;
  top: 1%;
  right: 10%;
}
.rr-switchers {
  max-width: 600px;
}
.sp-update-container {
  margin: 2.5rem 0;
}
.sp-text-area-container {
  background-color: #f3f7e9;
  padding: 1rem 1.7rem 1rem 1.7rem;
  border-radius: 0.3rem;
}
.sp-text-area {
  width: 100%;
  height: 6rem;
  border-color: #fff;
  outline: none;
  border: none;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  font-size: medium;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c6c6c6;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c6c6c6;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c6c6c6;
}
#sp-update-btn {
  width: 100%;
  padding: 0.4rem 0;
  font-size: small;
  border-radius: 0;
  color: #e2e2d9;
}
#sp-image-selector {
  background-color: #d9dfc2;
  padding: 0.4rem;
  width: 100%;
  text-align: center;
  color: #7f866b;
  border-radius: 0;
}
#sp-select {
  width: 100%;
  background-color: #fcfdf6;
  color: #c2550c;
}
.sp-select .vs__selected-options {
  padding: 0.2rem;
}
.sp-select .vs__search {
  color: #7a7a78;
}
.sp-select .vs__dropdown-toggle {
  border: #7f866b;
}

.previewed-image {
  margin-left: 0.6rem;
  margin-bottom: 0.4rem;
}
.sp-update-btn-container {
  display: flex;
  margin-top: 5px;
  font-size: small;
}

.sp-update-btn-container .post-update-btn-container {
  flex: 3;
}
.sp-update-btn-container .sp-select-field-container {
  flex: 5;
  margin: 0 15px;
}
.sp-update-btn-container .sp-image-selector {
  flex: 2;
}
#select-field-error-message {
  position: absolute;
  height: auto;
  margin-top: 4px;
}
.error-message * {
  color: #ff0000;
  margin: 0;
}
.uploaded-image {
  max-width: 200px;
}
.previewed-image {
  width: 70%;
  height: 70px;
}
.sp-loader {
  position: relative;
  margin-top: 50px;
  right: 50%;
  left: 50%;
  top: 15%;
}
.empty-message {
  margin-top: 2rem;
  text-align: center
}

@media only screen and (max-width: 768px) {
  .sp-update-container {
    max-width: 100%;
    margin: 20px auto;
  }
  .sp-update-btn-container {
    width: 100%;
    text-align: center;
  }
  .sp-update-btn-container {
    margin: 0 auto;
  }
  .sp-update-btn-container .post-update-btn-container {
    width: 11rem;
    margin-right: 0;
  }
  .sp-update-btn-container .sp-select-field-container {
    width: 100%;
    text-align: center;
  }
  .sp-select-field {
    text-align: center;
  }
  .img-selector-label {
    padding: 0;
    width: 100%;
  }
  #select-field-error-message {
    position: relative;
  }
  .sp-preview-details .clear {
  position: absolute;
  top: 1%;
  right: 10%;
}
  .sp-preview-wrapper .preview-details {
    width: 50%;
  }
  .sp-text-area-container {
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .sp-update-container {
    max-width: 100%;
    margin: 0 0 2.5rem 0;
  }
  .sp-update-btn-container {
    display: flex;
    margin-top: 5px;
    font-size: small;
    widows: 100%;
    flex-flow: column nowrap;
  }
  .sp-update-btn-container .post-update-btn-container {
    margin-top: 8px;
    width: 100%;
  }
  .sp-update-btn-container .sp-select-field-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .sp-update-btn-container .sp-image-selector {
    width: 100%;
  }
  .sp-text-area-container {
    background-color: #f3f7e9;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
  .sp-preview-details .clear {
  position: absolute;
  top: 1%;
  right: 10%;
}
  #sp-update-btn {
    float: left;
    width: 100%;
  }
  #sp-image-selector {
    width: 100%;
  }
  #sp-select {
    width: 100%;
  }
  #select-field-error-message {
    text-align: start;
  }
  .error-message {
    overflow: hidden;
  }
  p {
    margin-bottom: 0;
  }
}
</style>
