<template>
 <EcommerceSideBarLayout>
   <div class="subscription-container">
      <div class="subscription-title">
        <h2>Upgrade to Pro</h2>
        <p>Benefits of uploading to a Pro Account</p>
      </div>
      <SubscriptionOptions first="500" second="800" third="1000" />
   </div>
 </EcommerceSideBarLayout>
</template>

<script>
import EcommerceSideBarLayout from '@/components/layout/EcommerceSideBarLayout.vue'
import SubscriptionOptions from './SubscriptionOptions.vue'

export default {
  name: 'Subscriptionoption',
  components: {
    EcommerceSideBarLayout,
    SubscriptionOptions
  },
  metaInfo () {
    return {
      title: 'Dairynomics - Subscription Options',
      meta: [
        { name: 'description', content: 'Dairynomics Subscription Options' },
        { property: 'og:title', content: 'Dairynomics Subscription Options' },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: 'https://dairynomics.herokuapp.com/api/payments/' },
        { property: 'og:description', content: 'Dairynomics Subscription Options' }
      ]
    }
  }
}
</script>

<style scoped>
.subscription-container{
  margin-top: 4%;
}
.subscription-title{
  text-align: center;
}
.subscription-title p{
  margin-top: 15px;
  font-size: 1.3em;
  color: #b2b2b2;
}
@media screen and (max-width: 768px){
 h2{
  margin-top: 30px !important;
 }
}
</style>
