<template>
<EcommerceSideBarLayout>
 <div class="payment-container">
  <ul class="progressbar">
   <li v-on:click="activateTab(1)" class="active">Payment</li>
   <li v-on:click="activateTab(2)" v-bind:class="{active: active >= 2 ? 'active' : ''}">Process</li>
   <li v-on:click="activateTab(3)" v-bind:class="{active: active == 3 ? 'active' : ''}">Complete</li>
  </ul>

  <div class="payment-details">
   <div v-bind:class="{'payment-section active': active == 1 ? 'active' : ''}">
    <div class="img-wrapper">
     <img src="~@/assets/mpesa.jpg"/>
    </div>
    <h3>{{month}} Months / {{value}} <small>KES</small></h3>
    <div class="form-group">
     <input type="text" disabled v-model="countrycode" class="form-control col-sm-1 float-left mr-2" />
     <input type="text" class="form-control col-sm-3 float-left" v-on:input="contactOnChange" v-model="contact"/>
    </div>
    <p v-if="errorContactMessage" class="text-danger text-center mb-0 mt-4">Invalid contact use 9 or 10 characters</p>
    <div class="form-group">
     <div class="col-sm-4 pr-0 pl-0">
      <button :disabled="isDisabled" class="form-control" v-on:click="makePayment">Make Payment</button>
     </div>
    </div>
   </div>

   <div v-bind:class="{'process-section active': active == 2 ? 'active' : ''}">
    <h3>Please wait while we are processing your payment</h3>
    Dear Customer,
    <p>
     You will recieve an M-PESA prompt on your phone requesting you to enter your M-PESA PIN to complete
     your payment. Thank you. <br/>
     You can also pay using Lipa na MPESA by using the following instructions:-
     <ul>
      <li>Go to MPESA menu</li>
      <li>Select Lipa na MPESA</li>
      <li>Select the paybill option</li>
      <li>Enter business number 0000000</li>
      <li>Enter your account number 07xx-xxx-xxx</li>
      <li>Enter the amount 500</li>
      <li>Enter PIN and press OK to send</li>
      <li>You will receive a confirmation SMS with your payment reference number</li>
     </ul>
    </p>
    <Spinner v-if="getSubscriptionInfo.isLoading" />
   </div>

   <div v-bind:class="{'complete-section active': active == 3 ? 'active' : ''}">
    <div v-if="successfulpayment" class="sucess-details">
      <i class="fa fa-check"></i>
      <p>You have successfully {{this.message}}</p>
      <p>You are now good to go!</p>
      <button v-on:click="continueButton" class="btn">Continue</button>
    </div>
    <div v-else class="failure-details">
      <i class="fa fa-times"></i>
      <p>Oops! {{this.message}}</p>
      <p>Please try again</p>
      <button class="btn" v-on:click="tryAgainButton">Try Again</button>
    </div>
   </div>
  </div>
 </div>
</EcommerceSideBarLayout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import EcommerceSideBarLayout from '@/components/layout/EcommerceSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner'

export default {
  name: 'Payment',
  components: {
    EcommerceSideBarLayout,
    Spinner
  },
  data () {
    return {
      month: 0,
      value: 0,
      active: 1,
      countrycode: 0,
      contact: '',
      username: '',
      pay: false,
      successfulpayment: false,
      message: '',
      errorContactMessage: false,
      isDisabled: false
    }
  },
  methods: {
    ...mapActions(['makeSubscription', 'resetMessage']),
    activateTab (tabNumber) {
      /**
       * This method activates the payment tabs
       */
      if (this.pay & tabNumber <= this.active) {
        this.active = tabNumber
      }
    },
    contactOnChange (event) {
      /**
       * This method changes the contact data propert value basing
       * on the input values entered in the input element
       */
      let contact = event.target.value
      if ((contact.length === 9) || (contact.length === 10)) {
        this.errorContactMessage = false
        this.isDisabled = false
      } else {
        this.errorContactMessage = true
        this.isDisabled = true
      }
      this.contact = event.target.value
    },
    makePayment () {
      /**
       * This method helps to make payment and calls the
       * makeSubscription action and passes data to it
       */
      let phonenumber = ''
      this.active = 2
      this.pay = true
      if (this.contact.length == 10) {
        phonenumber = this.contact.slice(1)
      } else {
        phonenumber = this.contact
      }
      let usercontact = this.countrycode.slice(1) + phonenumber
      let data = {Amount: this.value, PhoneNumber: usercontact, TransactionDesc: 'subscription', AccountReference: this.username}
      this.makeSubscription(data)
    },
    tryAgainButton () {
      /**
       * This methods helps the user to go back to the first tab
       * if he/she encounters a challenge while making payments
       */
      this.resetMessage()
      this.active = 1
      this.message = ''
    },
    continueButton () {
      /**
       * this method helps a user to navigate back to the homepage
       * after making a successful transaction
       */
      this.active = 1
      this.message = ''
      this.$router.push('/')
    }
  },
  metaInfo () {
    return {
      title: 'Dairynomics - Payment Process',
      meta: [
        { name: 'description', content: 'Dairynomics Payment Process' },
        { property: 'og:title', content: 'Dairynomics Payment Process' },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: 'https://dairynomics.herokuapp.com/api/payments/' },
        { property: 'og:description', content: 'Dairynomics Payment Process' }
      ]
    }
  },
  computed: {
    ...mapGetters(['getSubscriptionInfo', 'getErrorMessage', 'getPaymentStatus']),
    getUser () {
      /**
       * This getUser property returns user profile data
       * assign contact data property with user contact from the store
       */
      let user = this.$store.getters.USER_PROFILE
      this.countrycode = '+254'
      this.contact = user.phone
      this.username = user.first_name + ' ' + user.last_name
      return user
    }
  },
  mounted () {
    /*
     * When the component is fully mounted
     * it runs the getUser property
     * it assign the month from sessionStorage to month data property
     * it assign the value from sessionStorage to value data property
    */
    this.getUser
    this.month = sessionStorage.getItem('month')
    this.value = sessionStorage.getItem('value')
  },
  getPaymentStatus (newValue, oldValue) {
    /**
       * This watcher, helps in checking if the payment status
       * changed to either success or failure and render the repective page
       */
    if (newValue === 'success') {
      this.active = 3
      this.message = this.getErrorMessage
      this.successfulpayment = true
    }
    if (newValue === 'failure') {
      this.active = 3
      this.message = this.getErrorMessage
    }
  }
}
</script>

<style scoped>
 .payment-container{
  width: 100%;
  margin-top: 20px;
 }
 .progressbar{
  counter-reset: step;
  overflow: auto;
 }
 .progressbar li{
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
 }
 .progressbar li:before{
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 2px solid #dddddd;
  background-color: white;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
 }
 .progressbar li:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #dddddd;
  top: 15px;
  left: -50%;
  z-index: -1;
 }
 .progressbar li:first-child:after{
  content: '';
  background: white;
 }
 .progressbar li.active{
  color: #88af00;
 }
 .progressbar li.active:before{
  border-color: #88af00;
 }
 .progressbar li.active + li:after{
  background-color: #88af00;
 }
 .payment-details{
  margin-top: 60px;
 }
 .img-wrapper, .form-group{
  display: flex;
  justify-content: center;
  margin-top: 25px;
 }
 .form-group button{
  margin-top: 5px;
  background-color: #88af00;
  color: white;
 }
 .form-group button:disabled{
   opacity: 0.8;
   cursor: not-allowed;
 }
 .img-wrapper img{
  height: 40px;
 }
 .payment-details > div{
  display: none;
 }
 .payment-details > div.active{
  display: block;
 }
 .payment-section h3{
  text-align: center;
  margin-top: 20px;
 }
 .process-section{
  padding: 0px 60px;
 }
 .process-section >>> .spinner-container{
  height: unset;
 }
 .process-section >>> .spinner-container .spinner .fa-6x{
  font-size: 3em;
 }
 .sucess-details, .failure-details{
   text-align: center;
 }
 .sucess-details i, .failure-details i{
   padding: 10px;
   font-size: 3em;
   border-radius: 50%;
   color: #88af00;
   border: 2px solid #88af00;
   margin-bottom: 30px;
 }
 .btn{
   background-color: #88af00;
   color: white;
   margin-top: 5px;
 }
 .failure-details .btn{
   background-color: #dc3545;
 }
 .failure-details i{
   color: #dc3545;
   padding: 10px 15px;
   border-color: #dc3545;
 }
 @media (min-width: 766px) and (max-width: 768px) {
   .progressbar{
     padding: 25px;
   }
 }
</style>
