<template>
  <div class="tab-item" @click="viewPage">
    <img :src="icon" :alt="name" v-show="!isActive">
    <img :src="activeIcon" :alt="name" v-show="isActive">
    <h3 :class="{'active': isActive}">{{name}}</h3>
    <hr :class="{'hr_active':isActive}">
  </div>
</template>

<script>
export default {
  name: 'AppTab',
  props: ['name', 'icon', 'activeIcon', 'pageName'],
  computed: {
    isActive () {
      return this.$route.name === this.pageName
    }
  },
  methods: {
    viewPage () {
      return this.$router.push({name: this.pageName})
    }
  }
}
</script>

<style scoped>
.tab-item {
  cursor: pointer;
}
.tab-item img {
  width: 40px;
  height: 40px;
}
.tab-item h3 {
  text-transform: uppercase;
  font-size: 0.5rem;
  padding-top: 10px;
  font-weight: bolder !important;
}
.tab-item hr {
  border: 2px solid #f4f7ea;
}
.active {
  color: #90b42f;
}
.hr_active {
  border: 2px solid #90b42f !important;
}
@media only screen and (max-width: 600px) {
    .tab-item h3  {
        display: none;
    }
    .tab-item img {
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .tab-item h3{
        font-size: 8px;
    }
}
</style>
