<template>
<div>
  <transition name="fade" appear>
    <AverageMilkProduction
      class="positioning"
      v-if="section === 'sold-milk'"
      :title="title"
      header="How many liters were Sold?"
      @submitMilkCount="submitForm"
      :previousSectionLink="previousSectionLink"
      @backToPreviousSection="previousSection"
      :numOfProd="numOfProdMilk"
    />
    </transition>

    <transition name="fade" appear>
    <AverageMilkPerformance
      class="positioning"
      v-if="section === 'preformance-meter'"
      :performance="performance"
    />
    </transition>

    <transition name="fade" appear>
    <AverageMilkProduction
      class="positioning"
      :title="title"
      v-if="section === 'prod-milk'"
      header="How many liters of milk did you produce today?"
      @submitMilkCount="submitForm"
      :previousSectionLink="previousSectionLink"
    />
</transition>
</div>

</template>

<script>
import AverageMilkProduction from '@/components/ui/AverageMilkProduction.vue'
import AverageMilkPerformance from './AverageMilkPerformance'

export default {
  name: 'AverageMilkProductionPage',

  components: {
    AverageMilkProduction,
    AverageMilkPerformance
  },
  data () {
    return {
      title: 'Milk Production',
      numOfSoldMilk: '',
      numOfProdMilk: '',
      section: 'prod-milk',
      performance: '',
      errorMessage: '',
      previousSectionLink: false
    }
  },
  watch: {
    section (newData, oldData) {
      this.section === 'sold-milk' ? this.previousSectionLink = true : this.previousSectionLink = false
    }
  },
  methods: {
    // ** submitForm method submits numofProd and numOfSold milk inputed by a user */
    submitForm (payload) {
      if (this.section === 'sold-milk') {
        this.numOfSoldMilk = payload
        const salesPerformance = Math.round(this.numOfSoldMilk / this.numOfProdMilk * 100)
        this.section = 'preformance-meter'
        this.performance = salesPerformance
      } else {
        this.numOfProdMilk = payload
        this.section = 'sold-milk'
      }
    },
    // ** this method changes the present section:"sold-milk" to "prod-milk"
    previousSection () {
      this.numOfProdMilk = ''
      this.errorMessage = ''
      this.section = 'prod-milk'
    }
  }
}
</script>

<style scoped>
  * {
    text-align: center;
  }

  .positioning {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 6% 1.25rem;
    margin-top: 80px;
  }

  /* TRANSITION */

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: all 1.4s ease-in;
  }
</style>
