<template>
  <div>
    <transition name="fade" appear>
      <HerdAnnual
        class="positioning"
        v-if="stage==='cowsCount'"
        @submit="updateCows"
        @herd='updateHerd'
        :numberOfCows="numberOfCows"
        :calvingPercentage ='calvingPercentage'
      />
      <HerdGrowth
        class="positioning"
        v-else-if="stage==='herdCount'"
        :numberOfCows="numberOfCows"
        :calvingPercentage ='calvingPercentage'
        :herdOne='herdCounts'
        @changeStage="stage='cowsCount'"
      />
    </transition>
  </div>
</template>

<script>
import HerdAnnual from './HerdAnnual'
import HerdGrowth from './HerdGrowth'

export default {
  name: 'AnuualHerdGrowthPage',

  data () {
    return {
      calvingPercentage: '',
      numberOfCows: 0,
      stage: 'cowsCount',
      herdCounts: null
    }
  },

  methods: {
    updateCows ({numberOfCows, calvingPercentage}) {
      this.numberOfCows = numberOfCows
      this.calvingPercentage = calvingPercentage
      this.stage = 'herdCount'
    },
    updateHerd (payload) {
      this.herdCounts = payload
    }
  },

  components: {
    HerdAnnual,
    HerdGrowth
  }
}
</script>

<style scoped>
  * {
    text-align: center;
  }

  .positioning {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 6% 1.25rem;
    margin-top: 80px;
  }

  /* TRANSITION */

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: all 1.4s ease-in;
  }
</style>
