<template>
  <div class="body">
    <div class="loader" v-html="loaderContent" v-if="isFetching"></div>
    <div :class="`items-list grid-row ${contentVisibility}`">
      <publication-list-item
        v-for="item in data"
        :key="item.id"
        :title="item.title"
        :author="item.author"
        :thumbnail="item.thumbnail"
        :isDownloading="isDownloading"
        :publicationDetails="item"
        @download-publication="downloadPublication(item)"
      />
    </div>
    <div class="pagination-actions">
      <div class="grid-row">
        <div class="align-left column column-6">
          <button type="button" class="button round" @click="goToPreviousPage" v-show="previousPage">
            <span class="arrow-left">&#x2190;</span> Previous
          </button>
        </div>
        <div class="align-right column column-6">
          <button type="button" class="button round" @click="goToNextPage" v-show="nextPage">
            Next <span class="arrow-right">&#x2192;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PublicationListItem from './PublicationListItem.vue'

export default {
  name: 'PublicationsList',
  components: {
    PublicationListItem
  },
  props: {
    data: { type: Array, required: true },
    downloadPublication: { type: Function, required: true },
    goToPreviousPage: { type: Function, required: false },
    goToNextPage: { type: Function, required: false },
    nextPage: { type: Number, required: false },
    previousPage: { type: Number, required: false },
    isDownloading: { type: Boolean, required: true },
    isFetching: { type: Boolean, required: true }
  },
  computed: {
    loaderContent () {
      const loadMoreButtonContent = this.isFetching
        ? '<i class="fas fa-spinner fa-spin"/>'
        : ''
      return loadMoreButtonContent
    },
    contentVisibility () {
      return this.isFetching ? 'inactive' : 'active'
    }
  }
}
</script>

<style scoped lang="scss">
button.round {
  color: #88af00;
  padding: 5px 15px;
  border: 1px solid #88af00;
  background: white;
  border-radius: 44px;
  min-width: 120px;
  outline: none;
  appearance: none;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: #6f8c08;
    color: white;
  }
}
.align-right {
  text-align: right;
}
.loader {
  display: flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  height: 400px;
}

button {
  background-color: #88af00;
  padding: 5px 10px;
  border: none;
  color: white;
}

.main-content .body {
  background-color: white;
  padding: 20px 15px;
  border-top: 1px solid #eaeaea;
  padding-top: 40px;
}

// Grid styles
.grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.column-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.items-list.inactive {
  display: none;
}

// tablet portrait
@media only screen and (min-width: 40em) {
  .items-list {
    margin-bottom: 20px;
  }

  .main-content .body {
    background-color: white;
    padding: 20px 15px;
    box-shadow: 0px 0px 37px #88af0052;
    border-radius: 10px;
  }
}

// large screens - tablets landscape and desktop
@media only screen and (min-width: 60em) {
  .main-content .body {
    background-color: white;
    padding: 20px 20px;
    box-shadow: 0px 0px 37px #88af0052;
    border-radius: 10px;
  }
}

@media screen and (max-width: 734px){
  .main-content .body {
    padding: 20px 10px;
  }
}

</style>
