<template>
 <div class="individual-card">
  <div class="expired-subscripton-content">
     <h2 class="expired-subscription-details">Your premium membership subscription has expired!</h2>
     <p class="expired-subscription-details-select">
     Your membership expired on {{moment(date).format('DD MMMM, YYYY')}}. Please select a membership plan or continue on a free plan.
    </p>
    <AppButton id ="subscription-button" @click="subscribeProvider">Subscribe today!</AppButton>
 </div>
 </div>
</template>
<script>

import moment from 'moment'
import AppButton from '@/components/ui/AppButton.vue'

export default {
  components: {
    AppButton
  },
  methods: {
    moment,
    subscribeProvider () {
      this.$router.push('/subscription/option')
    }
  },
  props: ['date']
}
</script>

<style scoped>
#subscription-button{
    width: 200px;
    margin-top: 1rem;
    font-size: 18px;
}

.individual-card{
   margin-top: 4rem;
   width: 60%;
   display: flex;
   line-height: 2rem;
   justify-content: center;
   text-align: center;
   border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(244, 247, 234),
    0px 1px 10px 0px rgba(162, 203, 25, 0.12);
}

.subscription-date{
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 1.3rem;
    font-family: 'Comfortaa-Light'
}

.expired-subscripton-content{
  padding: 2.5rem 4rem;
}

.expired-subscription-details{
    color: red;
    font-family: 'Comfortaa-Light'
}
.expired-subscription-details-select{
    margin-top: 2rem;
    font-family: 'Comfortaa-Light';
    color: rgba(0, 0, 0, 0.4);
}

.subscription-expiry{
    font-size: 1.1rem;
    color: red;
}

@media only screen and (max-width: 1460px) {

.individual-card{
    width: 85%;
}

.expired-subscripton-content{
  padding: 2rem 2rem;
}

.expired-subscription-details{
   font-size: 1.5rem;
}

}

@media only screen and (max-width: 800px) {
  .subscription-container{
      grid-gap: 8.6%;
  }

.individual-card{
    margin: 4rem 1.5rem;
}

}

@media only screen and (max-width: 540px){
.individual-card{
    width: 95%;
    margin: 4rem 0;
}
}

</style>
