<template>
<ProfileSideBarLayout>
  <div class="main-content">
    <UserProfileSwitcher @changeProfileSection="changeProfileSection" />
    <div v-if="activeStatusLink === 'isMyBlogLinkActive'"/>
  </div>
  <div v-if="showLoading">
    <Spinner/>
  </div>
  <div v-else>
    <div class="experts-container">
      <div v-if="getExpertBlogs" class="row">
        <Blog v-for="blog in expertBlogs" :key="blog.id"
          :title="blog.title"
          :likes="blog.likes"
          :comments="blog.number_of_comments"
          :image="blog.photo"
          :url="`/blogs/${blog.id}`"
          :id="blog.id"
        />
      </div>

      <p class="pagination-content" v-if="getExpertBlogs">
        <PaginationButton
          class="float-left"
          v-if="page != 1"
          @click="page--"
          :disabled="disabled"
        >
          Previous
        </PaginationButton>
        <PaginationButton
          class="float-right"
          v-if="page < pages.length"
          @click="page++"
          :disabled="disabled"
        >
          Next
        </PaginationButton>
      </p>
      <div v-else-if="getExpertBlogsError" class="note-message">
        <h3>This Expert does not have a Blog Post yet</h3>
      </div>
    </div>
  </div>
</ProfileSideBarLayout>
</template>
<script>
import UserProfileSwitcher from './Switcher'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
import Spinner from '@/components/ui/Spinner'
import PaginationButton from '@/components/ui/PaginationButton'
import Blog from '@/pages/Blog/Blog'
import { mapGetters } from 'vuex'
export default {
  name: 'ExpertBlogs',
  components: {
    UserProfileSwitcher,
    ProfileSideBarLayout,
    Spinner,
    PaginationButton,
    Blog
  },
  data () {
    return {
      activeStatusLink: 'isMyBlogLinkActive',
      posts: this.getExpertBlogs,
      page: 1,
      perPage: 8,
      pages: [],
      disabled: false
    }
  },
  metaInfo () {
    const expertName = this.getExpertBlogs[0] && this.getExpertBlogs[0].author
    const fullName = expertName ? `${expertName.first_name} ${expertName.last_name}` : ''
    return {
      title: `Dairynomics - Blog posts from ${fullName}`,
      meta: [
        {
          name: 'description',
          content: `Dairynomics - Blog posts from ${fullName}`
        },
        {
          property: 'og:title',
          content: `Dairynomics - Blog posts from ${fullName}`
        },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: `https://www.cowsoko.com/experts/${this.$route.params.id}/blogs` }
      ]
    }
  },
  methods: {
    setPosts () {
      this.posts = this.getExpertBlogs || []
    },
    changeProfileSection (activeLinkStatus) {
      this.activeStatusLink = 'isMyBlogLinkActive'
    },
    setPages () {
      const numberOfPages = Math.ceil(this.expertBlogs.length / this.perPage)
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index)
      }
    },
    paginate (posts) {
      const page = this.page
      const perPage = this.perPage
      const from = (page * perPage) - perPage
      const to = (page * perPage)
      return posts.slice(from, to)
    },
    getPosts (posts) {
      this.posts = posts
    }
  },
  watch: {
    getExpertBlogs () {
      this.setPages()
    }
  },
  computed: {
    ...mapGetters(['getExpertBlogs', 'getExpertBlogsError']),
    showLoading () {
      const loadingStatus = this.getExpertBlogsError ? false : !this.getExpertBlogs
      this.setPosts()
      this.getPosts(this.expertBlogs)
      return loadingStatus
    },
    displayedPosts () {
      return this.paginate(this.expertBlogs)
    },
    expertBlogs () {
      return this.getExpertBlogs
    }
  },
  created () {
    this.$store.dispatch('expertBlogs', this.$route.params.id)
    this.activeStatusLink = 'isMyBlogLinkActive'
  }
}
</script>

<style>
.expert-blog-item-img {
  height: 525px !important;
  padding: 50px;
}
</style>

<style scoped>
.note-message {
    text-align: center;
  }
  .experts-container {
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1.4rem #d5e2a3;
    margin-top: 4rem;
    padding: 2rem;
    background-color: #fff;
    overflow: auto;
  }

.row >>> .single-blog img{
  height: 235px;
}

.row >>> .single-blog p span.float-left i{
  margin-right: 7px;
}

.row >>> i.fa-whatsapp {
  padding-right: 0 !important;
}

.row >>> .single-blog h4 {
  height: 55px;
  overflow: scroll;
  align-items: center;
}

.row >>> span#share {
  margin-right: -14px;
  color: #b2b2b2;
  font-size: 13px;
  text-transform: capitalize;
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {

  .main-content {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .profile-wrapper {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
}
@media only screen and (max-width: 490px){
  .row >>> .single-blog h4 {
    font-size: 1em;
  }
}

</style>
