<template>
  <ul class="rr-switchers" v-if="!getExpertLoadingState">
    <li class="my-activities"  @click="changeIsActiveLinkStatus('isMyExpertProfileLinkActive')">
      {{expertName}}'s Profile
      <a :class="isLinkActive('ExpertProfileIndex')" href="#"></a>
    </li>
    <li v-show="getExpertProfileInformation.getExpertProfile.number_of_updates" class="my-profile" @click="changeIsActiveLinkStatus('isMyUdateLinkActive ')">
      <div class="p-1">
        <span
          class="badge badge-light updates"
        >{{getExpertProfileInformation.getExpertProfile.number_of_updates}}</span>Updates
        </div>
      <a :class="isLinkActive('ExpertUpdates')"></a>
    </li>
    <li v-show="getExpertProfileInformation.getExpertProfile.number_of_blogs" class="my-profile" @click="changeIsActiveLinkStatus('isMyBlogLinkActive')">
      <div class="p-1">
        <span
          class="badge badge-light blogs"
        >{{getExpertProfileInformation.getExpertProfile.number_of_blogs}}</span>Blogs
        </div>
      <a :class="isLinkActive('ExpertBlogs')"></a>
    </li>
    <li v-show="getExpertProfileInformation.getExpertProfile.number_of_farms" class="my-profile" @click="changeIsActiveLinkStatus('isMyFarmLinkActive')">
      <div class="p-1">
        <span
          class="badge badge-light farms"
          @click="showFarms()"
        >{{getExpertProfileInformation.getExpertProfile.number_of_farms}}</span>Farms
        </div>
        <a :class="isLinkActive('ExpertFarms')"></a>
    </li>
    <li v-show="getExpertProfileInformation.getExpertProfile.number_of_livestocks" class="my-profile" @click="changeIsActiveLinkStatus('isMyLiveStocksLinkActive')">
      <div class="p-1">
        <span
          class="badge badge-light livestock"
        >{{getExpertProfileInformation.getExpertProfile.number_of_livestocks}}</span>Livestock
        </div>
      <a :class="isLinkActive('ExpertLivestocks')"></a>
    </li>
    <li class="my-profile" @click="$router.push(contactExpertURL())">
        <a>
          <i class="fas fa-envelope message"></i>Contact Expert
        </a>
    </li>
  </ul>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'UserProfileSwitcher',
  props: {
    contactExpertURL: {
      type: Function,
      required: true
    }
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters(['getExpertProfileInformation', 'expertFarms', 'getExpertLoadingState']),
    expertName () {
      const tt = this.getExpertProfileInformation.getExpertProfile.first_name ? this.getExpertProfileInformation.getExpertProfile.first_name : 'Expert'
      return tt
    }
  },
  methods: {
    isLinkActive (pageName) {
      const linkStyle = this.$route.name === pageName ? ['isActive'] : ''
      return linkStyle
    },
    showFarms () {
      this.$store.dispatch('expertFarms', this.getExpertProfileInformation.getExpertProfile.id)
    },
    changeIsActiveLinkStatus (status) {
      const availableStatuses = [
        {
          activeLink: 'isMyExpertProfileLinkActive',
          pageName: 'ExpertProfileIndex'
        },
        {
          activeLink: 'isMyUdateLinkActive ',
          pageName: 'ExpertUpdates'
        },
        {
          activeLink: 'isMyBlogLinkActive',
          pageName: 'ExpertBlogs'
        },
        {
          activeLink: 'isMyFarmLinkActive',
          pageName: 'ExpertFarms'
        },
        {
          activeLink: 'isMyLiveStocksLinkActive',
          pageName: 'ExpertLivestocks'
        },
        {
          activeLink: 'isContactExpertLinkActive',
          pageName: ''
        }]
      return availableStatuses.map(availableStatus => {
        if (status === availableStatus.activeLink) {
          this[status] = true
          this.$emit('changeProfileSection', availableStatus.activeLink)
          this.$router.push({name: availableStatus.pageName})
        } else {
          this[availableStatus.activeLink] = false
        }
      })
    }
  }
}
</script>

<style scoped>
.rr-switchers {
  text-align: left;
  width: 100%;
  margin-top: 33px;
  font-size: 16px;
  padding-left: 12px;
  justify-content: space-between;
  display: flex;
  align-items: center;
 padding-right: 16px;
}
.isActive {
  color: #90b42f;
  font-weight: bold;
}
.rr-switchers li {
  list-style: none;
  display: inline-block;
  color: #7a3241;
}
.rr-switchers li a {
  text-decoration: none;
  color: inherit;
}
a.isActive::after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #86b600;
}
.my-profile, .my-activities {
  cursor: pointer;
}
.message {
  margin-right:10px;
}

.updates,
.blogs,
.farms,
.livestock {
  background-color:#02CBEA;
  color: white;
  border-radius: 50%;
  padding: 8px 10px;
  margin-right: 10px;
}

.blogs {
  background-color: #9800EA;
}
.farms {
  background-color: #01E984;
}
.livestock {
  background-color: #01E984;
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1024px) {
  .rr-switchers {
    padding-left: 17px;
    font-size: 15px
  }
  .updates,
.blogs,
.farms,
.livestock{
  padding: 8px 10px;
}
.message{
  font-size: 21px;
}
}
@media only screen and (max-width: 799px) {
  .rr-switchers {
    max-width: 100%;
    padding-left: 23px;
    padding-top: 60px;
    margin-top: -27px
  }
   .rr-switchers li {
  margin-right: 0.5rem;
  font-size: 12px;
  }
  .updates,
.blogs,
.farms,
.livestock{
  padding: 7px 8px;
  margin-right: 15px;
}
.expert-details ul{
    list-style: none;
    font-size: 13px;
    margin-top: 23px;
    margin-bottom: 0%;
    margin-right: -31px;
    margin-left: -77px
}
}
@media only screen and (max-width: 600px) {
  .rr-switchers {
    max-width: 100%;
    font-size: 12px;
  }
.updates,
.blogs,
.farms,
.livestock{
  padding: 5px 6px;
}
  .message {
    font-size: 10px;
  }
  .rr-switchers li {
    margin-right: 0.5rem;
    font-size: 8px
  }
  .fas.fa-envelope.message{
    width: 100%;
  }
}
</style>
