<template>
  <div class="col-12 pb-4">
    <div class="card receipt-content">
      <a
        @click="handleOpenModalOnClick('invoice',id)"
      >
        <div class="row">
          <div class="p-4 col-lg-2   col-md-3 col-sm-12 text-dark">
            <div class="d-flex flex-column align-self-center">
              <div class="h5 text-center">{{invoiceNumber}}</div>
              <div class="text-muted text-center"><small>{{created}}</small></div>
            </div>
          </div>
          <div class="description align-self-center col-lg-8  col-md-6 col-sm-12 text-secondary">
            <div class="order-items desc-paragraph" v-for="(orderItem, index ) in orderItems" :key="index">
              <h5>{{orderItem.product.productName}}</h5>
            </div>
          </div>
          <div class="align-self-center pl-2 col-lg-2  col-md-3 col-sm-12 text-dark text-center h4 payment">
            KES {{amountRecieved}}
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import moment from 'moment'
import { openModal } from '@/utils/helperFunctions'
Vue.prototype.moment = moment
export default {
  name: 'InvoiceCard',
  props: ['invoiceNumber', 'createdAt', 'amountRecieved', 'orderItems', 'id'],
  computed: {
    created () {
      return moment(this.createdAt).format('MMM, Do YYYY')
    }
  },
  methods: {
    handleOpenModalOnClick (payload, invoiceId) {
      if (payload === 'invoice') {
        return openModal(payload, invoiceId)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.desc-paragraph {
  padding-top: 0px;
}
.card a {
  text-decoration: none;
}
.card a:hover {
  background-color: rgba(194, 240, 68, 0.4);
  cursor: pointer;
}
.receipt-content {
  background-color: #fff;
  border: 1px solid #f4f7ea;
  box-shadow: -1px 2px 10px 1px rgba(194, 240, 68, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.order-items:not(:last-child) {
  border-bottom: 0.1em solid #6e7064;
}

@media only screen and (min-width: 401px) {
  .desc-paragraph {
    margin-left: 1em;
  }
}
@media only screen and (max-width: 400px) {
  .description {
    text-align: justify;
    padding-bottom: 1em;
    margin: 0 1em;
  }
}
@media only screen and (max-width: 414px) {
  .description > h4 {
    padding-left: 40px;
  }
}
@media only screen and (max-width: 375px) {
  .description {
    text-align: left;
    padding-bottom: 1em;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .description > h4 {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .description > h4 {
    padding-left: 30px;
  }
}
</style>
