<template>
<div>
  <payment-modal v-if="showPaymentModal" :contentSection="content">
    <payment-receipt slot="receipt"
      @closeModal="closePaymentModal"
      :receipt="receipt"
      :orderItems="orderItems"
      :billing="billing"
      :isLoading="isLoading"
      :isDownloading="isDownloading">
    </payment-receipt>
  </payment-modal>
</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import PaymentModal from '@/components/ui/PaymentModal.vue'
import PaymentReceipt from './PaymentReceipt'
import { eventBus } from '@/utils/helperFunctions'

export default {
  components: {
    'payment-modal': PaymentModal,
    'payment-receipt': PaymentReceipt
  },
  data () {
    return {
      showPaymentModal: false,
      content: 'receipt'
    }
  },
  computed: {
    ...mapState({
      receipt: state => state.IndividualReceipt.receipt,
      orderItems: state => state.IndividualReceipt.orderItems,
      billing: state => state.IndividualReceipt.billing,
      isLoading: state => state.IndividualReceipt.isLoading,
      isDownloading: state => state.IndividualReceipt.isDownloading
    })
  },
  methods: {
    ...mapActions(['getReceipt', 'resetReceipt', 'resetOrderItems', 'resetBilling']),
    closePaymentModal () {
      this.showPaymentModal = false
    }
  },

  created () {
    eventBus.$on('showPaymentModal', (payload, receiptId) => {
      this.resetReceipt()
      this.resetOrderItems()
      this.resetBilling()
      this.getReceipt({ receiptId })
      this.content = payload
      this.showPaymentModal = true
    })

    eventBus.$on('closeModal', () => {
      this.showPaymentModal = false
    })
  }
}
</script>
