<template>
  <div>
    <div class="product-section1">
      <form>
        <div class="form-width">
          <div class="header">
            <h3>Inputs I supply</h3>
          </div>
          <div>
            <InputType
              :InputHeader="dairymeal.inputHeader"
              :InputOptions="dairymeal.inputOptions"
              v-model="dairymealSelectedValues"/>

            <InputType
              :InputHeader="fodder.inputHeader"
              :InputOptions="fodder.inputOptions"
              v-model="fodderSelectedValues"/>

            <InputType
              :InputHeader="farmMachinery.inputHeader"
              :InputOptions="farmMachinery.inputOptions"
              v-model="farmMachinerySelectedValues"/>

            <InputType
              :InputHeader="drugs.inputHeader"
              :InputOptions="drugs.inputOptions"
              v-model="drugsSelectedValues"/>

            <InputType
              :InputHeader="irrigation.inputHeader"
              :InputOptions="irrigation.inputOptions"
              v-model="irrigationSelectedValues"/>
          </div>
          <button @click.prevent @click="handleSubmit" class="container submit-button" type="submit">
            <font-awesome-icon v-if="uploadInputState.loading" icon="spinner" spin/>
            <span v-else>Publish Input Type</span>
          </button>
          <div class='container'>
            <p class="text-danger text-center error" v-if="uploadInputState.error">{{uploadInputState.error}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import InputType from './InputType'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import {getUserId} from '@/utils/helperFunctions'
import {mapState, mapActions} from 'vuex'
export default {
  name: 'UploadInputType',
  components: {
    InputType,
    FontAwesomeIcon
  },
  created () {
    this.dairymealSelectedValues = this.getInitialCheck(this.dairymeal.inputHeader)
    this.fodderSelectedValues = this.getInitialCheck(this.fodder.inputHeader)
    this.farmMachinerySelectedValues = this.getInitialCheck(this.farmMachinery.inputHeader)
    this.irrigationSelectedValues = this.getInitialCheck(this.irrigation.inputHeader)
    this.drugsSelectedValues = this.getInitialCheck(this.drugs.inputHeader)
  },
  data () {
    return {
      dairymealSelectedValues: [],
      fodderSelectedValues: [],
      farmMachinerySelectedValues: [],
      irrigationSelectedValues: [],
      drugsSelectedValues: []
    }
  },
  methods: {
    getInitialCheck (inputHeader) {
      return inputHeader === this.userServicesOffered ? this.userInputsOffered : []
    },

    handleSubmit () {
      const selectedValues = this.allSelectedValues
      const userId = getUserId()
      let data = new FormData()
      if (this.dairymealSelectedValues.length > 0) {
        data.append('dairy_meals', this.dairymealSelectedValues.join(', '))
      }
      if (this.fodderSelectedValues.length > 0) {
        data.append('fodder_solns', this.fodderSelectedValues.join(', '))
      }
      if (this.farmMachinerySelectedValues.length > 0) {
        data.append('farm_machinery', this.farmMachinerySelectedValues.join(', '))
      }
      if (this.drugsSelectedValues.length > 0) {
        data.append('drug_vet_products', this.drugsSelectedValues.join(', '))
      }
      if (this.irrigationSelectedValues.length > 0) {
        data.append('irrigation_solns', this.irrigationSelectedValues.join(', '))
      }
      data.append('user_id', userId)
      this.submitInputs({data, selectedValues})
    },
    ...mapActions([
      'submitInputs'
    ])
  },
  computed: {
    ...mapState({
      userInputsOffered: state => JSON.parse(state.UserProfileModule.user.inputs_offered),
      userServicesOffered: state => state.UserProfileModule.user.services_offered,
      uploadInputState: state => state.uploadInputStore
    }),
    allSelectedValues () {
      return [...this.dairymealSelectedValues, ...this.fodderSelectedValues,
        ...this.farmMachinerySelectedValues, ...this.irrigationSelectedValues, ...this.drugsSelectedValues]
    },
    drugs: () => ({
      inputHeader: 'Drugs and Vet Products',
      inputOptions: [
        'Dewormers',
        'Vaccines',
        'Tick and parasite control',
        'Others'
      ]
    }),
    irrigation: () => ({
      inputHeader: 'Irrigation solutions',
      inputOptions: [
        'Irrigation equipment',
        'Pipes and Fitting',
        'Others'
      ]
    }),
    farmMachinery: () => ({
      inputHeader: 'Farm Machinery & Equipment',
      inputOptions: [
        'Tractors and Accessories',
        'Milking equipment & Machines',
        'Tankers, Chillers and Pasteurizers',
        'Plastic containers',
        'Packaging materials',
        'Others'
      ]
    }),
    fodder: () => ({
      inputHeader: 'Fodder solutions',
      inputOptions: [
        'Fodder seeds',
        'Fertilizer & Manure',
        'Hay / Silage',
        'Silage bags',
        'Silage inoculants/Preservatives'
      ]
    }),
    dairymeal: () => ({
      inputHeader: 'Dairy meal, minerals & supplements',
      inputOptions: [
        'Dairy Meal',
        'Vitamin/Mineral Supplements',
        'Feed additives & Premix',
        'Other'
      ]
    })
  }
}
</script>

<style lang="scss" scoped>
.product-section {
  margin-bottom: 20%
}

.form-width {
  width: 80%;
  padding: 20px;
  box-shadow: 0 0 10px #D3D3D3;
  border-radius: 5px;
}

.input-section{
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
}

.input-section-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
}

.input-section-box{
  padding-top: 7px;
  padding-left: 15px;
}

.input-section-label{
  padding-left: 7px;
}

.open{
  display: inline;
  margin-right: 15px;
  cursor: pointer;
}

.submit-button{
  background-color:#A3C34E;
  color: white;
  outline: none;
  border: none;
  padding:0.4rem 0;
  border-radius: 0.3rem;
  margin-top: 35px;
}

.error{
  margin-top: 7px;
  margin-bottom: 5px;
}

.error-msg{
  font-size: 13px;
}

@media only screen and (max-width: 576px){
  .form-width {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px #D3D3D3;
    border-radius: 5px;
  }
  .header h3{
    font-size: 20px
  }
}

@media only screen and (width: 768px){
  .form-width {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px #D3D3D3;
    border-radius: 5px;
  }
  .header h3{
    font-size: 20px
  }
}
</style>
