<template>
  <div>
    <canvas>
      </canvas>
    <PerformanceMeter
      :performance="farmPerformance.performance"
      strokeWidth="4"
      fontSize="19"
      fontFamily="consolas"
      size="150"
      imageName = 'calf.svg'
      maximumPossibleValue="40"
      minimumPossibleValue="24"
      reverse = "true"
    />
      <h3>{{farmPerformance.result}}</h3>
      <p class="info-message">{{farmPerformance.message}}</p>
    <AppButton v-if="isLoggedIn">Help me improve &#x2192;</AppButton>
    <AppButton v-else @click="showSignupModal">Sign up to find out how &#x2192;</AppButton>
    <div class="back-button-container">
      <a href="#"
      @click.prevent="$emit('submit', ageOfCalving)">
      &#x2190; Back</a>
    </div>
    <div v-if="showIcons" class="mt-3">
    <SocialMediaShare
    :farmPerformance='farmPerformance'
    :shareText="this.shareText"
    />
    </div>
  </div>
</template>

<script>
import PerformanceMeter from '@/components/ui/PerformanceMeter'
import AppButton from '@/components/ui/AppButton'
import performanceHelper from '@/utils/performance/calvingPerformance'
import SocialMediaShare from '@/components/layout/SocialMediaShare'
import { displayIconMixins } from '@/mixins/showHideShareIconMixins.js'
import isLoggedInMixin from '@/mixins/isLoggedInMixin'
import showSignupModalMixin from '@/mixins/showSignupModalMixin'

const computePerformance = (ageOfCalving) => {
  const performance = ageOfCalving
  return performanceHelper(performance)
}

export default {
  name: 'CalvingResult',
  mixins: [displayIconMixins, isLoggedInMixin, showSignupModalMixin],
  data () {
    this.disabled = ''
    const farmPerformance = computePerformance(this.ageOfCalving)
    return { shareText: `My calving age is ${this.ageOfCalving} month`, farmPerformance }
  },
  props: {
    ageOfCalving: {
      type: Number,
      required: true
    }
  },
  components: {
    PerformanceMeter,
    AppButton,
    SocialMediaShare
  }
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
    line-height: 1.6;
  }

  .info-message {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
    min-width: 13rem;
    max-width: 25rem;
    width: 70%;
    margin: 0 auto 1rem;
  }
    @media only screen and (max-width: 400px) {
    h2 {
      font-size: 1.7rem;
    }
  }
  canvas {
    display: none;
    font-family: 'Comfortaa', cursive;
  }
  .back-button-container {
  text-align: center;
}

.back-button-container a {
  display: inline-block;
  color: #88af00;
  font-size: 14px;
  margin-top: 16px;
}
</style>
