<template>
  <div class="text-center mt-5 not-found">
    <img
      src="../../assets/Cow-cartoon.png"
      width="120"
      height="120"
      alt="https://www.vecteezy.com/vector-art/546751-cow-vector-cartoon-illustration"
    >
    <h1>404</h1>
    <h3>Page was not found!!</h3>
    <p>
      Sorry, we could not find the page you are looking for.
      <br>We suggest you return to the main page.
    </p>
    <button class="return" type="submit" @click="$router.push(`/`)">Return to main page</button>
  </div>
</template>
<script>
export default {
  data () {
    return {}
  }
}
</script>
<style>
.not-found {
  position: fixed;
  left: 35%;
  top: 25%;
  right: 35%;
}
.not-found h1 {
  font-weight: bolder;
  font-size: 50pt;
}
.return {
  background-color: #91b32e;
  color: #fff;
  width: 60%;
  padding: 1% 0;
  border: 0;
  transition: background-color 0.8s ease-in-out;
}
.return:hover {
  background-color: #6f8c08;
}
</style>
