<template>
  <div id="app">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    >
    <AppNavigationBar/>
    <OfflineIndicator/>
    <notifications group="warning-alert" width="325"/>
    <userAuth/>
    <backTopButton />
    <router-view/>
  </div>
</template>

<script>
import AppNavigationBar from '@/components/layout/AppNavigationBar.vue'
import userAuth from '@/components/ui/userAuth/UserAuth.vue'
import OfflineIndicator from './components/ui/OfflineIndicator.vue'
import backTopButton from '@/components/ui/BackTopButton'

export default {
  name: 'App',
  components: {
    AppNavigationBar,
    userAuth,
    OfflineIndicator,
    backTopButton
  }
}
</script>

<style>
@font-face {
  font-family: "Comfortaa-Regular";
  src: url("~@/assets/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-Light";
  src: url("~@/assets/Comfortaa-Light.ttf");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("~@/assets/Comfortaa-Bold.ttf");
}

#app {
  font-family: "Comfortaa-Bold", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.vue-notification {
  font-size: 1rem;
}

body {
  font-family: "Comfortaa-Bold", "Avenir", Helvetica, Arial, sans-serif;
  background-image: url("~@/assets/background-img.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
@media only screen and (min-width: 411px) and (max-width: 823px) and (-webkit-device-pixel-ratio: 3.5) and (orientation: portrait) {
  body {
    background-position-y: 6rem;
  }
}
.bg-primary {
  background-color: #89aa35;
}
.color-primary {
  color: #89aa35;
}
.color-dark {
  color: #5f7526;
}

.loading {
  height: 100%;
  position: relative;
  color: transparent !important;
}

.loading::after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  right: auto;
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
