<template>
  <div class="row publication">
    <div class="col-md-12">
      <p class="heading lead small mt-4 pl-4">Publication</p>
    </div>
    <div class="row">
      <div class="col-md-4 pl-0">
        <img :src="imageSrc" alt="Publication" class="pl-4">
      </div>
      <div class="col-md-8">
        <h3 class="publication-title mb-4">{{title}}</h3>
        <ul class="description pl-0">
          <li>{{description}}</li>
        </ul>
        <button @click="downloadPublication(id, title)" class="pl-0">Download Free</button>
        <span @click="$router.push('/publications')" class="other-pubs mr-4">
          Other Publications
          <i class="fas fa-long-arrow-alt-right"></i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppPublication',
  props: ['imageSrc', 'title', 'description', 'id'],
  methods: {
    downloadPublication (id, title) {
      this.$emit('download_publication', id, title)
    }
  }
}
</script>

<style scoped>
.publication {
  background: white;
  max-width: 100%;
  margin-left: 0;
  height: 300px;
  border: 1px solid #f4f7ea;
  box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
  margin-top: 1rem;
}
.heading {
  color: #cddda0;
  text-transform: uppercase;
}
.publication img {
  width: 170px;
}
.publication button {
  background-color: #91b32e;
  color: #fff;
  width: 150px;
  border: 0;
  transition: background-color 0.8s ease-in-out;
}
.publication button:hover {
  background-color: #6f8c08;
}
.publication-title {
  color: #7d404e;
}
.other-pubs {
  font-size: 13px;
  float: right;
  cursor: pointer;
}
.description {
  font-size: 13px;
  color: #7d404e;
}
@media only screen and (max-width: 575.98px) {
  .publication {
    height: auto;
    text-align: center;
  }
  .publication img {
    width: 200px;
  }
  .publication-title {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .description {
    padding-left: 30px !important;
    text-align: left;
  }
  .publication button {
    width: 100%;
  }
  .other-pubs {
    float: none;
    margin: 10px 0px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .publication {
    height: auto;
    text-align: center;
  }
}
</style>
