<template>
<div class="card-social-media-section">
  <div class="social-media-icons">
    <router-link class="share-nav-link" to="/">
      <p class="share-message">Share</p>
    </router-link>
    <router-link class="nav-link" to="/">
      <i class="fab fa-facebook-f"></i>
    </router-link>
    <router-link class="nav-link" to="/">
      <i class="fab fa-twitter"></i>
    </router-link>
    <router-link class="nav-link" to="/">
      <i class="fab fa-whatsapp"></i>
    </router-link>
  </div>
</div>
</template>

<script>
export default {
  name: 'CardSocialMediaShare'
}
</script>

<style>
.social-media-icons {
  width: 100%;
  text-align: right;
}
.share-message {
  color: #a9a9a9;
}
.card-social-media-section {
  width: 150%;
}
.social-media-icons > .nav-link,
.social-media-icons > .share-nav-link {
  display: inline-block;
  width: 10%;
  text-decoration: none;
}
.share-nav-link {
  margin-right: 4%;
}
.social-media-icons {
  display: inline-block;
}
i.fa-twitter {
  color: #04b0e9;
  font-size: 1.2rem
}
i.fa-whatsapp {
  color: #7a9963;
  font-size: 1.2rem
}
i.fa-facebook-f {
  background-color: #2f40a8;
  color: #ffffff;
  padding: 10%;
  width: 15px;
  font-size: 1.2rem;
}

</style>
