<template>
  <div>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <slot>
            </slot>
          </div>
        </div>
      </div>
    </transition>

  </div>
</template>

<script>
export default {
  name: 'ModalBox',
  data () {
    return {
      showModal: false
    }
  }
}
</script>

<style  scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(94, 123, 33, 0.63);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    margin: 0 30px 0 30px;
  }

  .modal-container {
    width: 65%;
    margin: 0px auto;
    padding: 50px 80px 50px 80px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: inherit;
  }
  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    float: right;
  }
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  @media only screen and (max-width:768px) {
      .modal-container{
        margin-top: 80px !important;
        margin-bottom: 80px !important;
        width:90%;
        overflow:auto;
      }
      .modal-body{
        margin-top: 10px;
      }
  }
  @media only screen and (max-width:800px) {
      .modal-container{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        width:90%;
        font-size: 12px !important;
        overflow:scroll;
      }
      .modal-body{
        margin-top: 10px;
      }
  }
  @media only screen  and (max-width: 414px){
    .modal-container{
      padding:5px !important;
      font-size: 10px !important;
      overflow: scroll;
      }
    }
</style>
