<template>
  <button :disabled="disabled" @click="$emit('click')">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'PaginationButton',

  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
button {
  color: #88af00;
  background-color: #fff;
  border: solid 0.1rem #88af00;
  border-radius: 1.4rem;
  outline: none;
  height: 2.5rem;
  text-align: center;
  width: 8.5rem;
  font-size: 1rem;
  transition: all 0.5s;
}

button:hover:not(:disabled) {
  background-color: #88af00;
  color: #fff;
}

button:disabled {
  visibility: hidden;
}
</style>
