<template>
  <div>
    <!-- Modal -->
    <transition name="modal">
      <div class="modal-mask p-3">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div v-if="content ==='receipt'">
                  <slot name="receipt"></slot>
                </div>
                <div v-if="content ==='invoice'">
                  <slot name="invoice">
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: ['contentSection'],
  data () {
    return {
      content: this.contentSection
    }
  },

  methods: {
    closeModal () {
      this.$emit('closeModal')
    }
  }
}
</script>

<style scoped>
.modal-content {
  border-radius: 7px;
}
.modal-dialog {
  max-width: 100%;
}
.modal-content {
  border-radius: 7px;
}
.modal-mask {
  position: fixed;
  overflow: scroll;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 240, 45, 0.8);
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.modal-dialog {
  width: 75%;
  margin: auto;
}
@media only screen and (max-width: 426px) {
  .modal-mask {
    display: block;
    overflow: auto;
  }
  .modal-content {
    margin-top: 3rem;
  }
  .modal-dialog {
    width: 95%;
    margin: auto;
  }
}
@media only screen and (min-width: 425px) {
  .container-close {
    padding: 20px;
  }
}
</style>
