<template>
    <div class="spinner-container">
     <div class="spinner">
        <font-awesome-icon icon="spinner" spin size="6x"/>
     </div>
    </div>
</template>

<script>
export default {
  name: 'Spinner'
}
</script>

<style scoped>
  .spinner-container {
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .spinner {
    position: absolute;
    top: 40%;
    left:45%;
  }
  @media screen and (max-width: 1024px){
    .spinner{
      width: 80px;
      height: 80px;
    }
  }
  @media only screen and (max-width: 950px){
    .spinner {
      top: 30%;
      left:42%;
      width: 50px;
      height: 50px;
    }
  }
@media only screen and (max-width: 400px){
  .spinner {
    top: 30%;
    left:35%;
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width:375px){
  .spinner {
    top: 30%;
    left:35%;
    width: 20px;
    height:20px;
  }
}
</style>
